{% extends "base.html" %}
{% load static %}

{% block title %}Data View Page{% endblock %}

{% block content %}

    <style>
        td {
            font-size: 0.7em;
        }

        .data-table td {
            font-size: 0.7em;
        }

        .break-word {
            word-break: break-all; /* Break words at any character */
            hyphens: auto; /* Enable hyphenation */
        }
    </style>

    <h1>The References</h1>
    <table class="data-table">
        <thead>
        <tr>
            <th>Reference ID</th>
            <th>Author</th>
            <th>Article Title</th>
            <th>Publication Title</th>
            <th>Year</th>
            <th style="width: 5px">Volume</th>
            <th>Part</th>
            <th>Pages</th>
            <th>Language</th>
            <th>Publication Type</th>
            <th>Trans-<wbr>lation</th>
            <th>Notes</th>
        </tr>
        </thead>
        <tbody>
        {% for item in reference %}
            <tr>
                <td>{{ item.ref_id }}</td>
                <td>{{ item.author }}</td>
                <td>{{ item.article_title }}</td>
                <td>{{ item.pub_title }}</td>
                <td class="break-word">{{ item.year }}</td>
                <td class="break-word">{{ item.volume }}</td>
                <td>{{ item.part }}</td>
                <td>{{ item.pages }}</td>
                <td>{{ item.language }}</td>
                <td>{{ item.pub_type }}</td>
                <td>{{ item.translation }}</td>
                <td>{{ item.notes }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <link rel="stylesheet" href="/static/css/data.css">
    {% block extra_css %}{% endblock %}
{% endblock %}
