{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Add DataCR - Wildlife Transfer Parameter DB{% endblock %}

{% block extra_css %}
    <!-- any additional CSS specific to this page -->
    <link rel="stylesheet" href="{% static 'css/add_datacr.css' %}">
{% endblock %}

<!-- note: auto-format with Ctrl + Alt + L -->
{% block content %}
    <h1>Add Record</h1>

    <form method="post" action="{% url 'add_datacr' %}">
        {% csrf_token %}


        <!-- Reference Section -->
        <section class="reference">
            <!--<h2>Reference</h2>-->
            <div class="entry">
                <label for="id_reference_id">Reference ID: <span id="reference_id_placeholder"></span></label>
            </div>

            <div class="pub">
                <label for="id_article_title">Article Title:</label>
                {{ form.ref_article_title }}
            </div>
            <div class="pub">
                <label for="id_publication_title">Publication Title:</label>
                {{ form.publication_title }}
            </div>

            <div class="flex-container">
                <div class="left">
                    <div class="entry">
                        <label for="id_author">Author:</label>
                        <input type="text" id="id_author" name="author">
                    </div>
                    <div class="entry">
                        <label for="id_volume">Volume:</label>
                        <input type="text" id="id_volume" name="volume">
                    </div>
                    <div class="entry">
                        <label for="id_page_numbers">Page Numbers:</label>
                        <input type="text" id="id_page_numbers" name="page_numbers">
                    </div>
                    <div class="entry">
                        <label for="id_reference_language">Reference Language:</label>
                        {{ form.reference_language }}
                    </div>
                </div>

                <div class="right">
                    <div class="entry">
                        <label for="id_publication_type">Publication Type:</label>
                        {{ form.publication_type }}
                    </div>
                    <div class="entry">
                        <label for="id_year">Year:</label>
                        <input type="text" id="id_year" name="year">
                    </div>
                    <div class="entry">
                        <label for="id_part">Part:</label>
                        <input type="text" id="id_part" name="part">
                    </div>
                    <div class="translation">
                        <label for="id_translation_available">Translation into English Available:</label>
                        <input type="checkbox" id="id_translation_available" name="translation_available">
                    </div>
                </div>
            </div>
        </section>


        <!-- Species Section -->
        <section class="species">
            <!--<h2>Species</h2>-->
            <div class="flex-container">
                <div class="left-rim">
                    <div class="entry">
                        <label for="habitat_specific_type">Habitat:</label>
                        {{ form.habitat_specific_type | add_class:"limited" }}
                    </div>
                    <div class="entry">
                        <label for="id_icrp_rap">ICRP RAP:</label>
                        {{ form.rap_name | add_class:"limited" }}
                    </div>
                    <div class="entry">
                        <label for="id_lifestage">Lifestage:</label>
                        {{ form.lifestage_name | add_class:"limited" }}
                    </div>
                </div>
                <div class="left-mid">
                    <div class="entry">
                        <label for="id_wildlife_group">Wildlife Group:</label>
                        <select id="id_wildlife_group" name="wildlife_group">
                            <option value="amphibian" selected>Amphibian</option>
                        </select>
                    </div>
                    <div class="entry">
                        <label for="id_studytype">Studytype:</label>
                        {{ form.study_type_name | add_class:"limited" }}
                    </div>
                    <div class="entry">
                        <textarea id="id_notes" name="notes" placeholder="Notes"></textarea>
                    </div>
                </div>
                <div class="right-mid">
                    <div class="entry">
                        <label for="id_name_common">Name Common:</label>
                        {{ form.name_common | add_class:"limited" }}
                    </div>
                    <div class="entry">
                        <label for="id_sampling_date">Sampling Date:</label>
                        <input type="date" id="id_sampling_date" name="sampling_date">
                    </div>
                    <div class="entry">
                        <label for="id_dynamic_info">Dynamic Info:</label>
                        <input type="text" id="id_dynamic_info" name="dynamic_info">
                    </div>
                </div>
                <div class="right-rim">
                    <div class="entry">
                        <label for="id_name_latin">Name Latin:</label>
                        {{ form.name_latin | add_class:"limited" }}
                    </div>
                    <div class="entry">
                        <label for="id_element_nuclide">Element/Nuclide:</label>
                        {{ form.radionuclide_name | add_class:"limited" }}
                    </div>
                </div>
            </div>
        </section>

        <!-- Sample Section -->


        <section class="media">
            <div class="flex-container">
                <div class="left-rim">
                    <div class="entry">
                        <label for="id_media_type">Media Type:</label>
                        <select id="id_media_type" name="media_type">
                            <option value="soil" selected>Soil</option>
                            <option value="air">Air</option>
                        </select>
                    </div>
                    <div class="entry">
                        <label for="id_n_for_media">N for Media:</label>
                        <input type="text" id="id_n_for_media" name="n_for_media">
                    </div>
                </div>
                <div class="left-mid">
                    <div class="entry">
                        <label for="id_media_wet_dry">Media Wet/Dry:</label>
                        <select id="id_media_wet_dry" name="media_wet_dry">
                        </select>
                    </div>
                    <div class="entry">
                        <label for="id_sd_for_media">SD for Media:</label>
                        <input type="text" id="id_sd_for_media" name="sd_for_media">
                    </div>
                </div>
                <div class="right-mid">
                    <div class="entry">
                        <label for="id_media_conc">Media Conc:</label>
                        <input type="text" id="id_media_conc" name="media_conc">
                    </div>
                </div>
                <div class="right-rim">
                    <div class="entry">
                        <label for="id_media_units">Media Units:</label>
                        <select id="id_media_units" name="media_units">
                        </select>
                    </div>
                </div>
            </div>
        </section>

        <section class="tissue">
            <div class="flex-container">
                <div class="left-rim">
                    <div class="entry">
                        <label for="id_tissue_type">Tissue Type:</label>
                        <select id="id_tissue_type" name="tissue_type">
                        </select>
                    </div>
                    <div class="entry">
                        <label for="id_n_for_biota">N for Biota:</label>
                        <input type="text" id="id_n_for_biota" name="n_for_biota">
                    </div>
                </div>
                <div class="left-mid">
                    <div class="entry">
                        <label for="id_status_of_biota">Status of Biota:</label>
                        <select id="id_status_of_biota" name="status_of_biota">
                        </select>
                    </div>
                    <div class="entry">
                        <label for="id_sd_for_biota">SD for Biota:</label>
                        <input type="text" id="id_sd_for_biota" name="sd_for_biota">
                    </div>
                </div>
                <div class="right-mid">
                    <div class="entry">
                        <label for="id_biota_conc">Biota Conc:</label>
                        <input type="text" id="id_biota_conc" name="biota_conc">
                    </div>
                </div>
                <div class="right-rim">
                    <div class="entry">
                        <label for="id_biota_units">Biota Units:</label>
                        <select id="id_biota_units" name="biota_units">
                        </select>
                    </div>
                </div>
            </div>
        </section>

        <section class="cr">
            <div class="flex-container">
                <div class="left-rim">
                    <div class="entry">
                        <label for="id_concentration_ratio">Concentration Ratio:</label>
                        <input type="text" id="id_concentration_ratio" name="concentration_ratio" readonly>
                    </div>
                </div>
                <div class="left-mid">
                    <div class="entry">
                        <label for="id_n_of_cr">N of CR:</label>
                        <input type="text" id="id_n_of_cr" name="n_of_cr">
                    </div>
                </div>
                <div class="right-mid">
                    <div class="entry">
                        <label for="id_sd_of_cr">SD of CR:</label>
                        <input type="text" id="id_sd_of_cr" name="sd_of_cr">
                    </div>
                </div>
                <div class="right-rim">
                    <div class="entry">
                    </div>
                </div>
            </div>
        </section>


        <button type="submit" name="action" value="add_all">Add All</button>
        <button type="submit" name="action" value="add_mid">Add Mid</button>

    </form>


    <script>
        // JavaScript to set the value of reference_id when the page loads
        document.addEventListener('DOMContentLoaded', function () {
            // Generate a unique reference_id based on the date and time
            var reference_id = new Date().toISOString().replace(/[-:TZ.]/g, '');
            /*var reference_id = new Date().toISOString().replace(/[-:TZ.]/g, '').slice(2);*/
            document.getElementById('reference_id_placeholder').textContent = reference_id;

            // Get references to the Media Type and Media Units dropdowns
            var habitatDropdown = document.getElementById('id_habitat_specific_type');
            var mediaTypeDropdown = document.getElementById('id_media_type');
            var mediaUnitsDropdown = document.getElementById('id_media_units');

        // Function to update Media Type based on the selected Habitat
        function updateMediaType() {
            // Clear previous options
            mediaTypeDropdown.innerHTML = '';
            // Get the selected value of Habitat
            var selectedHabitat = habitatDropdown.value.toLowerCase();

            // Add options based on the selected Habitat
            if (selectedHabitat.includes('terrestrial')) {
                addOption('Air', 'air');
                addOption('Soil', 'soil');
            } else if (
                selectedHabitat.includes('estuarine') ||
                selectedHabitat.includes('freshwater') ||
                selectedHabitat.includes('marine')
            ) {
                addOption('Sediment', 'sediment');
                addOption('Water', 'water');
            }
        }

            // Function to update Media Units based on the selected Media Type
            function updateMediaUnits() {
                // Clear previous options
                mediaUnitsDropdown.innerHTML = '';

                // Get the selected value of Media Type
                var selectedMediaType = mediaTypeDropdown.value;

                // Add options based on the selected Media Type
                if (selectedMediaType === 'air') {
                    addOption('Bq/m3', 'Bq/m3');
                } else if (selectedMediaType === 'soil') {
                    addOption('µCi/kg', 'µCi/kg');
                    addOption('Bq/g', 'Bq/g');
                    addOption('Bq/m2', 'Bq/m2');
                    addOption('mBq/g', 'mBq/g');
                    addOption('mBq/kg', 'mBq/kg');
                    addOption('mg/g', 'mg/g');
                    addOption('mg/kg', 'mg/kg');
                    addOption('pCi/g', 'pCi/g');
                    addOption('pCi/kg', 'pCi/kg');
                    addOption('ppb', 'ppb');
                    addOption('ppm', 'ppm');
                    addOption('ug/g', 'ug/g');
                    addOption('ug/kg', 'ug/kg');
                }
            }

            // Helper function to add options to the dropdown
            function addOption(text, value) {
                var option = document.createElement('option');
                option.text = text;
                option.value = value;
                mediaUnitsDropdown.add(option);
            }

            // Attach the updateMediaUnits function to the change event of Media Type dropdown
            mediaTypeDropdown.addEventListener('change', updateMediaUnits);

            // Initialize Media Units on page load
            updateMediaUnits();
        });
    </script>

    <link rel="stylesheet" href="/static/css/add_datacr.css">
{% endblock %}