{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Add DataCR - Wildlife Transfer Parameter DB{% endblock %}

{% block extra_css %}
    <!-- any additional CSS specific to this page -->
    <link rel="stylesheet" href="{% static 'css/add_datacr.css' %}">
{% endblock %}

<!-- note: auto-format with Ctrl + Alt + L -->
{% block content %}
    <h1>Add Record</h1>

    <form method="post" action="{% url 'add_datacr' %}">
        {% csrf_token %}


        <!-- Reference Section -->
        <section class="reference">
            <!--<h2>Reference</h2>-->
            <div class="entry">
                <!--<label for="id_reference_id">Reference ID: <span id="reference_id_placeholder"></span></label>-->
                <label for="id_ref_id">Reference ID: <input type="text" id="ref_id"
                                                            name="ref_id" readonly></label>
            </div>

            <div class="pub">
                <label for="id_article_title">Article Title:</label>
                {{ reference_form.article_title }}
            </div>
            <div class="pub">
                <label for="id_publication_title">Publication Title:</label>
                {{ reference_form.pub_title }}
            </div>

            <div class="flex-container">
                <div class="left">
                    <div class="entry">
                        <label for="id_author">Author:</label>
                        <input type="text" id="id_author" name="author">
                    </div>
                    <div class="entry">
                        <label for="id_volume">Volume:</label>
                        <input type="text" id="id_volume" name="volume">
                    </div>
                    <div class="entry">
                        <label for="id_pages">Page Numbers:</label>
                        <input type="text" id="id_pages" name="pages">
                    </div>
                    <div class="entry">
                        <label for="id_reference_language">Reference Language:</label>
                        {{ reference_form.language }}
                    </div>
                </div>

                <div class="right">
                    <div class="entry">
                        <label for="id_publication_type">Publication Type:</label>
                        {{ reference_form.pub_type }}
                    </div>
                    <div class="entry">
                        <label for="id_year">Year:</label>
                        <input type="text" id="id_year" name="year">
                    </div>
                    <div class="entry">
                        <label for="id_part">Part:</label>
                        <input type="text" id="id_part" name="part">
                    </div>
                    <div class="translation">
                        <label for="id_translation">Translation into English Available:</label>
                        <input type="checkbox" id="id_translation" name="translation">
                    </div>
                </div>
            </div>
        </section>


        <!-- Species Section -->
        <section class="species">
            <!--<h2>Species</h2>-->
            <div class="flex-container">
                <div class="left-rim">
                    <div class="entry">
                        <label for="habitat_specific_type">Habitat:</label>
                        {{ datacr_form.habitat | add_class:"limited" }}
                    </div>
                    <div class="entry">
                        <label for="id_icrp_rap">ICRP RAP:</label>
                        {{ datacr_form.icrp_rap | add_class:"limited" }}
                    </div>
                    <div class="entry">
                        <label for="id_lifestage">Lifestage:</label>
                        {{ datacr_form.lifestage | add_class:"limited" }}
                    </div>
                </div>
                <div class="left-mid">
                    <div class="entry">
                        <label for="id_wildlife_group">Wildlife Group:</label>
                        {{ datacr_form.wildlife_group | add_class:"limited" }}
                    </div>
                    <div class="entry">
                        <label for="id_studytype">Studytype:</label>
                        {{ datacr_form.study_type | add_class:"limited" }}
                    </div>
                    <div class="entry">
                        <textarea id="id_notes" name="notes" placeholder="Notes"></textarea>
                    </div>
                </div>
                <div class="right-mid">
                    <div class="entry">
                        <label for="id_name_common">Species Common:</label>
                        {{ datacr_form.species_name | add_class:"limited" }}
                    </div>
                    <div class="entry">
                        <label for="id_sampling_date">Sampling Date:</label>
                        <input type="date" id="id_sampling_date" name="sampling_date">
                    </div>
                    <div class="entry">
                        <label for="id_dynamic_info">Dynamic Info:</label>
                        <input type="text" id="id_dynamic_info" name="dynamic_info">
                    </div>
                </div>
                <div class="right-rim">
                    <!--<div class="entry">
                        <label for="id_name_latin">Species Latin:</label>
                        {{ datacr_form.species_name | add_class:"limited" }}
                    </div>-->
                    <div class="entry">
                        <label for="id_element_nuclide">Element/Nuclide:</label>
                        {{ datacr_form.radionuclide | add_class:"limited" }}
                    </div>
                </div>
            </div>
        </section>

        <!-- Sample Section -->


        <section class="media">
            <div class="flex-container">
                <div class="left-rim">
                    <div class="entry">
                        <label for="id_media_type">Media Type:</label>
                        <select id="id_media_type" name="media_type">
                            <option value="soil" selected>Soil</option>
                            <option value="air">Air</option>
                        </select>
                    </div>
                    <div class="entry">
                        <label for="id_n_for_media">N for Media:</label>
                        <input type="text" id="id_n_for_media" name="n_for_media">
                    </div>
                </div>
                <div class="left-mid">
                    <div class="entry">
                        <label for="id_media_wet_dry">Media Wet/Dry:</label>
                        <select id="id_media_wet_dry" name="media_wet_dry">
                        </select>
                    </div>
                    <div class="entry">
                        <label for="id_sd_for_media">SD for Media:</label>
                        <input type="text" id="id_sd_for_media" name="sd_for_media">
                    </div>
                </div>
                <div class="right-mid">
                    <div class="entry">
                        <label for="id_media_conc">Media Concentration:</label>
                        <input type="text" id="id_media_conc" name="media_conc">
                    </div>
                </div>
                <div class="right-rim">
                    <div class="entry">
                        <label for="id_media_units">Media Units:</label>
                        <select id="id_media_units" name="media_units">
                        </select>
                    </div>
                </div>
            </div>
        </section>

        <section class="tissue">
            <div class="flex-container">
                <div class="left-rim">
                    <div class="entry">
                        <label for="id_tissue_name">Tissue Type:</label>
                        {{ datacr_form.tissue | add_class:"limited" }}
                    </div>
                    <div class="entry">
                        <label for="id_n_for_biota">N for Biota:</label>
                        <input type="text" id="id_n_for_biota" name="n_for_biota">
                    </div>
                </div>
                <div class="left-mid">
                    <div class="entry">
                        <label for="id_status_of_biota">Status of Biota:</label>
                        <select id="id_status_of_biota" name="status_of_biota">
                            <option value="Wet">Wet</option>
                            <option value="Dry">Dry</option>
                            <option value="Ash">Ash</option>
                        </select>
                    </div>
                    <div class="entry">
                        <label for="id_sd_for_biota">SD for Biota:</label>
                        <input type="text" id="id_sd_for_biota" name="sd_for_biota">
                    </div>
                </div>
                <div class="right-mid">
                    <div class="entry">
                        <label for="id_biota_conc">Biota Concentration:</label>
                        <input type="text" id="id_biota_conc" name="biota_conc">
                    </div>
                </div>
                <div class="right-rim">
                    <div class="entry">
                        <label for="id_biota_units">Biota Units:</label>
                        <select id="id_biota_units" name="biota_units">
                            <option value="Bq/l">Bq/l</option>
                            <option value="Bq/m3">Bq/m3</option>
                            <option value="mBq/l">mBq/l</option>
                            <option value="mg/l">mg/l</option>
                            <option value="p/Ci/l">p/Ci/l</option>
                            <option value="ppb">ppb</option>
                            <option value="ppm">ppm</option>
                            <option value="uCi/l">uCi/l</option>
                            <option value="ug/l">ug/l</option>
                        </select>
                    </div>
                </div>
            </div>
        </section>

        <section class="cr">
            <div class="flex-container">
                <div class="left-rim">
                    <div class="entry">
                        <label for="id_concentration_ratio">Concentration Ratio:</label>
                        <input type="text" id="id_concentration_ratio" name="concentration_ratio" readonly>
                    </div>
                </div>
                <div class="left-mid">
                    <div class="entry">
                        <label for="id_n_of_cr">N of CR:</label>
                        <input type="text" id="id_n_of_cr" name="n_of_cr">
                    </div>
                </div>
                <div class="right-mid">
                    <div class="entry">
                        <label for="id_sd_of_cr">SD of CR:</label>
                        <input type="text" id="id_sd_of_cr" name="sd_of_cr">
                    </div>
                </div>
                <div class="right-rim">
                    <div class="entry">
                    </div>
                </div>
            </div>
        </section>


        <button type="submit" name="action" value="add_all">Add All</button>
        <button type="submit" name="action" value="add_mid">Add Mid</button>
    </form>

    <script>
        // JavaScript to set the value of reference_id when the page loads
        document.addEventListener('DOMContentLoaded', function () {
            console.log("DOM content loaded");
            // Generate a unique reference_id based on the date and time
            /*var reference_id = new Date().toISOString().replace(/[-:TZ.]/g, '');*/
            var reference_id = new Date().toISOString().replace(/[-:TZ.]/g, '').slice(3, -5);
            document.getElementById('ref_id').value = reference_id;
            console.log("Reference ID set:", reference_id);

            // Get references to the Media Type and Media Units dropdowns
            var habitatDropdown = document.getElementById('id_habitat');
            var mediaTypeDropdown = document.getElementById('id_media_type');
            var mediaUnitsDropdown = document.getElementById('id_media_units');
            var mediaWetDryDropdown = document.getElementById('id_media_wet_dry');

            // Function to update Media Type based on the selected Habitat
            function updateMediaType() {
                console.log("updateMediaType() started");
                // Clear previous options
                mediaTypeDropdown.innerHTML = '';

                // Get the selected value of Habitat
                var selectedHabitat = habitatDropdown.value.toLowerCase();
                var selectedHabitatIndex = habitatDropdown.selectedIndex;
                var selectedHabitatText = habitatDropdown.options[selectedHabitatIndex].text.toLowerCase();
                console.log("Selected Habitat: ", selectedHabitatText);

                console.log("Selected Habitat no: ", selectedHabitat);


                console.log("changes follow")
                //var selectedHabitatId = habitatDropdown.value;
                //console.log("Selected Habitat ID: ", selectedHabitatId);

                fetch(`/get-media-for-habitat/?habitat_id=${selectedHabitat}`)
                    .then(response => response.json())
                    .then(data => {
                        // Clear previous options
                        mediaTypeDropdown.innerHTML = '';

                        // Add new options
                        data.forEach(function (media) {
                            var option = new Option(media.media_type, media.id);
                            mediaTypeDropdown.add(option);
                        });
                    })
                    .catch(error => console.error('Error fetching media types:', error));

            }

            // Helper function to add options to the dropdown
            /*function addMediaTypeDropdown(text, value) {
                console.log("addMediaTypeDropdown() started");
                var option = document.createElement('option');
                option.text = text;
                option.value = value;
                mediaTypeDropdown.add(option);
            }*/

            // Function to update Media Units based on the selected Media Type
            function updateMediaUnits() {
                // Clear previous options
                mediaUnitsDropdown.innerHTML = '';
                mediaWetDryDropdown.innerHTML = '';

                // Get the selected value of Media Type
                var selectedMediaType = mediaTypeDropdown.value.toLowerCase();

                // Add unit options based on the selected Media Type
                if (selectedMediaType === 'air') {
                    addMediaUnitOption('Bq/m3', 'Bq/m3');
                } else if ((selectedMediaType === 'soil')
                    || (selectedMediaType === "sediment")
                    || (selectedMediaType === "water")) {
                    addMediaUnitOption('µCi/kg', 'µCi/kg');
                    addMediaUnitOption('Bq/g', 'Bq/g');
                    addMediaUnitOption('Bq/m2', 'Bq/m2');
                    addMediaUnitOption('mBq/g', 'mBq/g');
                    addMediaUnitOption('mBq/kg', 'mBq/kg');
                    addMediaUnitOption('mg/g', 'mg/g');
                    addMediaUnitOption('mg/kg', 'mg/kg');
                    addMediaUnitOption('pCi/g', 'pCi/g');
                    addMediaUnitOption('pCi/kg', 'pCi/kg');
                    addMediaUnitOption('ppb', 'ppb');
                    addMediaUnitOption('ppm', 'ppm');
                    addMediaUnitOption('ug/g', 'ug/g');
                    addMediaUnitOption('ug/kg', 'ug/kg');
                }

                // Add wt/dry options based on the selected Media Type
                if (selectedMediaType === 'air') {
                    addWetDryOption('Air');
                } else if (selectedMediaType === "water") {
                    addWetDryOption('Water');
                } else if (selectedMediaType === 'soil') {
                    addWetDryOption('Dry');
                }
            }

            // Helper functions to add options to the dropdown
            function addMediaUnitOption(text, value) {
                var option = document.createElement('option');
                option.text = text;
                option.value = value;
                mediaUnitsDropdown.add(option);
            }

            function addWetDryOption(text, value) {
                var option = document.createElement('option');
                option.text = text;
                option.value = value;
                mediaWetDryDropdown.add(option);
            }

            // Attach the functions to the change event of dropdowns
            habitatDropdown.addEventListener('change', updateMediaType);
            mediaTypeDropdown.addEventListener('change', updateMediaUnits);

            // Initialize functions on page load
            updateMediaType();
            updateMediaUnits();


            /******************* CR CALCULATIONS ***************************/

                // Get references to the relevant input fields and select dropdowns
            var mediaConcField = document.getElementById('id_media_conc');
            var biotaConcField = document.getElementById('id_biota_conc');
            mediaUnitsDropdown = document.getElementById('id_media_units'); // already above
            var biotaUnitsDropdown = document.getElementById('id_biota_units');
            var crField = document.getElementById('id_concentration_ratio');

            // Function to update Concentration Ratio based on Media and Biota Concentration
            function updateConcentrationRatio() {
                var mediaUnitSymbol = document.getElementById('id_media_units').value;
                var biotaUnitSymbol = document.getElementById('id_biota_units').value;
                var mediaType = document.getElementById('id_media_type').value;

                fetch(`/get_correction_factor/?unit_symbol=${mediaUnitSymbol}&media_type=${mediaType}`)
                    .then(response => response.json())
                    .then(mediaData => {
                        // Make AJAX request for biota unit correction factor
                        fetch(`/get_correction_factor/?unit_symbol=${biotaUnitSymbol}&media_type=${mediaType}`)
                            .then(response => response.json())
                            .then(biotaData => {
                                // Display the result for media unit
                                var mediaCorrectionFactor = mediaData.correction_factor || 1.0;
                                var mediaConcentration = parseFloat(mediaConcField.value);
                                var mediaResult = mediaCorrectionFactor * mediaConcentration;

                                // Display the result for biota unit
                                var biotaCorrectionFactor = biotaData.correction_factor || 1.0;
                                var biotaConcentration = parseFloat(biotaConcField.value);
                                var biotaResult = biotaCorrectionFactor * biotaConcentration;

                                // Calculate and display the Concentration Ratio
                                var crField = document.getElementById('id_concentration_ratio');
                                var concentrationRatio = biotaResult / mediaResult;
                                crField.value = concentrationRatio.toFixed(2);
                            })
                            .catch(biotaError => {
                                console.error('Error fetching biota correction factor:', biotaError);
                            });
                    })
                    .catch(mediaError => {
                        console.error('Error fetching media correction factor:', mediaError);
                    });
            }

            // Attach the updateConcentrationRatio function to the input event of Media and Biota Concentration fields
            mediaConcField.addEventListener('input', updateConcentrationRatio);
            mediaConcField.addEventListener('input', updateConcentrationRatio);
            mediaUnitsDropdown.addEventListener('input', updateConcentrationRatio);
            biotaUnitsDropdown.addEventListener('input', updateConcentrationRatio);
            mediaUnitsDropdown.addEventListener('change', updateConcentrationRatio);
        });
    </script>

    <link rel="stylesheet" href="/static/css/add_datacr.css">
{% endblock %}