{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}{{ page_title }} - Wildlife Transfer Parameter DB{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/base_form_data.css' %}">

    <!-- libraries for the JQuery for making article_title a search bar -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- getting magnifying glass for heuristic -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
{% endblock %}

{% block content %}
    <h1>{{ heading }}</h1>

    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form method="post" action="{% block form_action %}{% endblock form_action %}">
        {% csrf_token %}

        <!-- Display form errors here -->
        {% if datacr_form.errors %}
            <div class="alert alert-danger" role="alert">
                Please correct the errors below.
            </div>
        {% endif %}

        <!-- Display field-specific error messages -->
        {% if datacr_form.habitat.errors %}
            <div class="alert alert-warning" role="alert">
                {{ datacr_form.habitat.errors.as_text }}
            </div>
        {% endif %}

        {% if reference_form.non_field_errors %}
            <div class="alert alert-danger">
                {% for error in reference_form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}

        {% if datacr_form.non_field_errors %}
            <div class="alert alert-danger">
                {% for error in datacr_form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}

        {% block javascript %}
            {# needs to stay here: Django template tags are not processed in static files #}
            {# These template tags are only interpreted by Django when they're found in .html template files! #}
            <script>
                // Source: https://stackoverflow.com/questions/43116471/call-an-autocomplete-function-on-document-ready
                $(document).ready(function () {
                    $("#id_article_title").autocomplete({
                        source: "{% url 'article-search' %}",
                        minLength: 2, // Minimum length before searching
                        select: function (event, ui) {
                            $('#id_article_title').val(ui.item.value);
                        }
                    });
                });
                $(document).ready(function () {
                    // Change the background image based on input
                    $('#id_article_title').on('input', function () {
                        if ($(this).val().length > 0) {
                            $(this).css('background-image', 'none');
                        } else {
                            $(this).css('background-image', 'url("../static/images/magnifying-glass.png")');
                        }
                    });
                });

                $(document).ready(function () {
                    function updateSpeciesSelection(selectedID) {
                        $('#species_name_id').val(selectedID);
                        $('#id_name_common').val(selectedID);
                        $('#id_name_latin').val(selectedID);
                    }

                    // Initialise the species selection based on the current dropdown values
                    var initialSelectedID = $('#id_name_latin').val() || $('#id_name_common').val();
                    updateSpeciesSelection(initialSelectedID);

                    // Event handlers for dropdown changes
                    $('#id_name_latin').change(function () {
                        updateSpeciesSelection($(this).val());
                    });

                    $('#id_name_common').change(function () {
                        updateSpeciesSelection($(this).val());
                    });
                });
            </script>
        {% endblock %}


        <!-- Reference Section -->
        <section class="reference">

            <div class="entry top">
                <div id="ref">
                    <label for="id_ref_id">Reference ID:</label>
                    <input type="text" id="ref_id" name="ref_id"
                           value="{{ reference_form.ref_id.value|default_if_none:'' }}" readonly>
                    {% if datacr_form.ref_id.errors %}
                        <div class="alert alert-warning" role="alert" style="color: red">
                            {{ datacr_form.ref_id.errors.as_text }}
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="flex-container">
                <div class="ref-left">
                    <div class="line">
                        <label for="id_article_title" id="article-label">Article Title:</label>
                        <input class="full-width article-title-search" type="text" id="id_article_title"
                               name="article_title"
                               style="background-image: url('../static/images/magnifying-glass.png'); background-repeat: no-repeat; background-position: 10px center;"
                               value="{{ reference_form.article_title.value|default_if_none:'' }}">
                        {% if datacr_form.article_title.errors %}
                            <div class="alert alert-warning" role="alert" style="color: red">
                                {{ datacr_form.article_title.errors.as_text }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="line">
                        <label for="id_publication_title">Publication Title:</label>
                        {{ reference_form.pub_title }}
                        {% if datacr_form.pub_title.errors %}
                            <div class="alert alert-warning" role="alert" style="color: red">
                                {{ datacr_form.pub_title.errors.as_text }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="ref-right">
                    <div class="line">
                        <label for="id_author">Author:</label>
                        <input type="text" id="id_author" name="author"
                               value="{{ reference_form.author.value|default_if_none:'' }}">
                        {% if datacr_form.author.errors %}
                            <div class="alert alert-warning" role="alert" style="color: red">
                                {{ datacr_form.author.errors.as_text }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="line">
                        <label for="id_publication_type">Type:</label>
                        {{ reference_form.pub_type }}
                        {% if datacr_form.pub_type.errors %}
                            <div class="alert alert-warning" role="alert" style="color: red">
                                {{ datacr_form.pub_type.errors.as_text }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="flex-container space-balance">
                <div class="entry">
                    <label for="id_volume">Volume:</label>
                    <input type="text" id="id_volume" name="volume" class="small-input"
                           value="{{ reference_form.volume.value|default_if_none:'' }}">
                    {% if datacr_form.volume.errors %}
                        <div class="alert alert-warning" role="alert" style="color: red">
                            {{ datacr_form.volume.errors.as_text }}
                        </div>
                    {% endif %}
                </div>
                <div class="entry">
                    <label for="id_pages">Page Numbers:</label>
                    <input type="text" id="id_pages" name="pages" class="small-input"
                           value="{{ reference_form.pages.value|default_if_none:'' }}">
                    {% if datacr_form.pages.errors %}
                        <div class="alert alert-warning" role="alert" style="color: red">
                            {{ datacr_form.pages.errors.as_text }}
                        </div>
                    {% endif %}
                </div>
                <div class="entry">
                    <label for="id_year">Year:</label>
                    <input type="text" id="id_year" name="year" class="small-input"
                           value="{{ reference_form.year.value|default_if_none:'' }}">
                    {% if datacr_form.year.errors %}
                        <div class="alert alert-warning" role="alert" style="color: red">
                            {{ datacr_form.year.errors.as_text }}
                        </div>
                    {% endif %}
                </div>
                <div class="entry">
                    <label for="id_part">Part:</label>
                    <input type="text" id="id_part" name="part" class="small-input"
                           value="{{ reference_form.part.value|default_if_none:'' }}">
                    {% if datacr_form.part.errors %}
                        <div class="alert alert-warning" role="alert" style="color: red">
                            {{ datacr_form.part.errors.as_text }}
                        </div>
                    {% endif %}
                </div>
                <div class="entry">
                    <label for="id_language">Language:</label>
                    {{ reference_form.language | add_class:"ref-small" }}
                    {% if datacr_form.language.errors %}
                        <div class="alert alert-warning" role="alert" style="color: red">
                            {{ datacr_form.language.errors.as_text }}
                        </div>
                    {% endif %}
                </div>

                <div class="translation">
                    <label for="id_translation">English Translation Available:</label>
                    {{ reference_form.translation }}
                    {% if datacr_form.translation.errors %}
                        <div class="alert alert-warning" role="alert" style="color: red">
                            {{ datacr_form.translation.errors.as_text }}
                        </div>
                    {% endif %}
                </div>
            </div>

            <script>
                console.log("test test test");
                document.addEventListener('DOMContentLoaded', function () {
                    const languageDropdown = document.getElementById('id_language');
                    const translationCheckbox = document.getElementById('id_translation');

                    console.log('Language Dropdown:', languageDropdown);
                    console.log('Translation Checkbox:', translationCheckbox);

                    function updateTranslationCheckbox() {
                        console.log('Updating Checkbox. Current language:', languageDropdown.value);
                        const isEnglish = languageDropdown.value === 'English';
                        translationCheckbox.disabled = isEnglish;
                        if (isEnglish) {
                            translationCheckbox.checked = false;
                        }
                    }

                    console.log('Language Dropdown:', languageDropdown);
                    console.log('Translation Checkbox:', translationCheckbox);

                    if (!languageDropdown) {
                        console.error('Language dropdown not found.');
                    }
                    if (!translationCheckbox) {
                        console.error('Translation checkbox not found.');
                    }

                    if (languageDropdown && translationCheckbox) {
                        languageDropdown.addEventListener('change', updateTranslationCheckbox);
                        updateTranslationCheckbox();
                    } else {
                        console.error('One or more elements are not found.');
                    }
                });
            </script>

        </section>

        <!-- Species Section -->
        <section class="species">
            <div class="flex-container">
                <div class="ref-left">
                    <div class="flex-container space-balance" id="habitat">
                        <div class="entry">
                            <label for="id_habitat">Habitat:</label>
                            {{ datacr_form.habitat | add_class:"limited" }}
                            {% if datacr_form.habitat.errors %}
                                <div class="alert alert-warning" role="alert" style="color: red">
                                    {{ datacr_form.habitat.errors.as_text }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="entry">
                            <label for="id_icrp_rap">ICRP RAP:</label>
                            {{ datacr_form.icrp_rap | add_class:"limited" }}
                            {% if datacr_form.habitat.errors %}
                                <div class="alert alert-warning" role="alert" style="color: red">
                                    {{ datacr_form.habitat.errors.as_text }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="entry">
                            <label for="id_lifestage">Lifestage:</label>
                            {{ datacr_form.lifestage | add_class:"limited" }}
                            {% if datacr_form.lifestage.errors %}
                                <div class="alert alert-warning" role="alert" style="color: red">
                                    {{ datacr_form.lifestage.errors.as_text }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="entry">
                            <label for="id_wildlife_group">Wildlife Group:</label>
                            {{ datacr_form.wildlife_group | add_class:"limited" }}
                            {% if datacr_form.wildlife_group.errors %}
                                <div class="alert alert-warning" role="alert" style="color: red">
                                    {{ datacr_form.wildlife_group.errors.as_text }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="entry">
                            <label for="id_studytype">Studytype:</label>
                            {{ datacr_form.study_type | add_class:"limited" }}
                            {% if datacr_form.study_type.errors %}
                                <div class="alert alert-warning" role="alert" style="color: red">
                                    {{ datacr_form.study_type.errors.as_text }}
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="flex-container space-balance">

                        <div class="entry">
                            <label for="id_name_common">Species Common:</label>
                            <select class="limited" id="id_name_common" name="name_common">
                                {% for species in species_list %}
                                    <option value="{{ species.species_id }}">{{ species.name_common }}</option>
                                {% endfor %}
                            </select>
                            {% if datacr_form.name_common.errors %}
                                <div class="alert alert-warning" role="alert" style="color: red">
                                    {{ datacr_form.name_common.errors.as_text }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="entry">
                            <label for="id_name_latin">Latin:</label>
                            <select class="limited" id="id_name_latin" name="name_latin">
                                {% for species in species_list %}
                                    <option value="{{ species.species_id }}">{{ species.name_latin }}</option>
                                {% endfor %}
                            </select>

                            {% if datacr_form.species_name.errors %}
                                <div class="alert alert-warning" role="alert" style="color: red">
                                    {{ datacr_form.species_name.errors.as_text }}
                                </div>
                            {% endif %}
                        </div>

                        <input type="hidden" name="species_name" id="species_name_id"
                               value="{{ datacr_form.species_name.value }}">
                        <div class="entry">
                            <label for="id_measurement_date">Measured:</label>
                            {{ datacr_form.measurement_date | add_class:"date" }}
                            <!--<input type="date" id="id_measurement_date" name="measurement_date">-->
                            {% if datacr_form.measurement_date.errors %}
                                <div class="alert alert-warning" role="alert" style="color: red">
                                    {{ datacr_form.measurement_date.errors.as_text }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="entry">
                            <label for="id_biohalflife">Biohalflife:</label>
                            {{ datacr_form.biohalflife | add_class:"limited" }}
                            {% if datacr_form.biohalflife.errors %}
                                <div class="alert alert-warning" role="alert" style="color: red">
                                    {{ datacr_form.biohalflife.errors.as_text }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="entry">
                            <label for="id_radionuclide">Element/Nuclide:</label>
                            {{ datacr_form.radionuclide | add_class:"nuclide" }}
                            {% if datacr_form.radionuclide.errors %}
                                <div class="alert alert-warning" role="alert" style="color: red">
                                    {{ datacr_form.radionuclide.errors.as_text }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="ref-right">
                    <div class="entry">
                        {{ datacr_form.notes | add_class:"limited notes" }}
                    </div>
                </div>
            </div>
        </section>

        <!-- Sample Section -->
        <section class="media">
            <div class="entry top">
                <h2>Media</h2>
            </div>
            <div class="flex-container space-balance">
                <div class="entry">
                    <label for="id_media">Type:</label>
                    {{ datacr_form.media | add_class:"limited" }}
                </div>
                <div class="entry">
                    <label for="id_media_n">N</label>
                    {{ datacr_form.media_n }}
                </div>
                <div class="entry">
                    <label for="id_media_wet_dry">Status:</label>
                    {{ datacr_form.media_wet_dry | add_class:"status" }}
                </div>
                <div class="entry">
                    <label for="id_media_sd">SD</label>
                    {{ datacr_form.media_sd }}
                </div>
                <div class="entry">
                    <label for="id_media_conc">Concentration:</label>
                    {{ datacr_form.media_conc | add_class:"limited" }}
                </div>
                <div class="entry">
                    <label for="id_media_conc_units">Units:</label>
                    {{ datacr_form.media_conc_units | add_class:"status" }}
                    <!-- in-between calculations result - but saved, too -->
                    <input type="hidden" id="id_stand_media_conc" name="stand_media_conc" value="">
                </div>
            </div>
        </section>

        <section class="tissue">
            <div class="entry top">
                <h2>Tissue</h2>
            </div>
            <div class="flex-container space-balance">
                <div class="entry">
                    <label for="id_tissue">Type:</label>
                    {{ datacr_form.tissue | add_class:"limited" }}
                </div>
                <div class="entry">
                    <label for="id_biota_n">N</label>
                    {{ datacr_form.biota_n }}
                </div>
                <div class="entry">
                    <label for="id_biota_wet_dry">Status:</label>
                    {{ datacr_form.biota_wet_dry | add_class:"status" }}
                </div>
                <div class="entry">
                    <label for="id_biota_sd">SD</label>
                    {{ datacr_form.biota_sd }}
                </div>
                <div class="entry">
                    <label for="id_biota_conc">Concentration:</label>
                    {{ datacr_form.biota_conc | add_class:"limited" }}
                </div>
                <div class="entry">
                    <label for="id_biota_conc_units">Units:</label>
                    {{ datacr_form.biota_conc_units | add_class:"status" }}

                    <!-- in-between calculations result - but saved, too -->
                    <input type="hidden" id="id_stand_biota_conc" name="stand_biota_conc" value="">
                </div>
            </div>
        </section>

        <section class="cr">
            <div class="flex-container space-balance">
                <div class="entry">
                    <label for="id_cr">Concentration Ratio:</label>
                    {{ datacr_form.cr }}

                    {% if datacr_form.cr.errors %}
                        <div class="alert alert-warning" role="alert" style="color: red">
                            {{ datacr_form.cr.errors.as_text }}
                        </div>
                    {% endif %}
                </div>
                <div class="entry">
                    <label for="id_cr_n">N of CR:</label>
                    {{ datacr_form.cr_n }}

                    {% if datacr_form.cr_n.errors %}
                        <div class="alert alert-warning" role="alert" style="color: red">
                            {{ datacr_form.cr_n.errors.as_text }}
                        </div>
                    {% endif %}
                </div>
                <div class="entry">
                    <label for="id_cr_sd">SD of CR:</label>
                    <!--<input type="text" id="id_cr_sd" name="cr_sd">-->
                    {{ datacr_form.cr_sd }}
                </div>
            </div>
        </section>


        {% block style %}
            <script src="{% static 'js/base_form_data.js' %}"></script>
            <script src="{% static 'js/add_datacr.js' %}"></script>
        {% endblock style %}

        {% block form_buttons %}
            <!-- buttons decided by child templates -->
        {% endblock %}
    </form>
{% endblock %}

