{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}{{ page_title }} - Wildlife Transfer Parameter DB{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/base_form_data.css' %}">

    <!-- libraries for the JQuery for making article_title a search bar -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- getting magnifying glass for heuristic -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
{% endblock %}

{% block content %}
    <h1>{{ heading }}</h1>

    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <!--<form method="post" action="{ block form_action_url %}{ endblock form_action_url %}">-->
    <form method="post" action="{% block form_action %}{% endblock form_action %}">
        <!--<form method="post" action="{#  #}{ form_action }}">-->
        {% csrf_token %}

        <!-- Display form errors here -->
        {% if datacr_form.errors %}
            <div class="alert alert-danger" role="alert">
                Please correct the errors below.
            </div>
        {% endif %}

        <!-- Display field-specific error messages -->
        {% if datacr_form.habitat.errors %}
            <div class="alert alert-warning" role="alert">
                {{ datacr_form.habitat.errors.as_text }}
            </div>
        {% endif %}

        {% if reference_form.non_field_errors %}
            <div class="alert alert-danger">
                {% for error in reference_form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}

        {% if datacr_form.non_field_errors %}
            <div class="alert alert-danger">
                {% for error in datacr_form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}


        {% block javascript %}
            <script>
                $(document).ready(function () {
                    $("#id_article_title").autocomplete({
                        source: "{% url 'article-search' %}",
                        minLength: 2, // Minimum length before searching
                        select: function (event, ui) {
                            // Optional: Do something when a suggestion is selected
                            $('#id_article_title').val(ui.item.value); // Set the value for the article title input
                        }
                    });
                });
                $(document).ready(function () {
                    // Change the background image based on input
                    $('#id_article_title').on('input', function () {
                        if ($(this).val().length > 0) {
                            $(this).css('background-image', 'none');
                        } else {
                            $(this).css('background-image', 'url({% static "images/magnifying-glass.png" %})');
                        }
                    });
                });

                /* synchronise the species names latin/common */

                $(document).ready(function () {
                    // Function to update both dropdowns and the hidden input
                    function updateSpeciesSelection(selectedID) {
                        $('#species_name_id').val(selectedID); // Update the hidden input
                        $('#id_name_latin').val(selectedID); // Update the Latin name dropdown
                        $('#id_name_common').val(selectedID); // Update the common name dropdown
                    }

                    // When the Latin name dropdown changes...
                    $('#id_name_latin').change(function () {
                        updateSpeciesSelection($(this).val());
                    });

                    // When the common name dropdown changes...
                    $('#id_name_common').change(function () {
                        updateSpeciesSelection($(this).val());
                    });
                });
            </script>
        {% endblock %}


        <!-- Reference Section -->
        <section class="reference">
            <!--<h2>Reference</h2>-->
            <div class="entry">
                <!--<label for="id_reference_id">Reference ID: <span id="reference_id_placeholder"></span></label>-->
                <label for="id_ref_id">Reference ID: <input type="text" id="ref_id"
                                                            name="ref_id" readonly></label>
            </div>

            <div class="pub">
                <label for="id_article_title">Article Title:</label>
                {# reference_form.article_title #}
                <input class="full-width article-title-search" type="text" id="id_article_title" name="article_title"
                       style="background-image: url({% static 'images/magnifying-glass.png' %}); background-repeat: no-repeat; background-position: 10px center;">
            </div>
            <div class="pub">
                <label for="id_publication_title">Publication Title:</label>
                {{ reference_form.pub_title }}
            </div>

            <div class="flex-container">
                <div class="left">
                    <div class="entry">
                        <label for="id_author">Author:</label>
                        <input type="text" id="id_author" name="author">
                    </div>
                    <div class="entry">
                        <label for="id_volume">Volume:</label>
                        <input type="text" id="id_volume" name="volume">
                    </div>
                    <div class="entry">
                        <label for="id_pages">Page Numbers:</label>
                        <input type="text" id="id_pages" name="pages">
                    </div>
                    <div class="entry">
                        <label for="id_reference_language">Reference Language:</label>
                        {{ reference_form.language }}
                    </div>
                </div>

                <div class="right">
                    <div class="entry">
                        <label for="id_publication_type">Publication Type:</label>
                        {{ reference_form.pub_type }}
                    </div>
                    <div class="entry">
                        <label for="id_year">Year:</label>
                        <input type="text" id="id_year" name="year">
                    </div>
                    <div class="entry">
                        <label for="id_part">Part:</label>
                        <input type="text" id="id_part" name="part">
                    </div>
                    <div class="translation">
                        <label for="id_translation">Translation into English Available:</label>
                        <input type="checkbox" id="id_translation" name="translation">
                    </div>
                </div>
            </div>
        </section>


        <!-- Species Section -->
        <section class="species">
            <!--<h2>Species</h2>-->
            <div class="flex-container">
                <div class="left-rim">
                    <div class="entry">
                        <label for="habitat_specific_type">Habitat:</label>
                        {{ datacr_form.habitat | add_class:"limited" }}
                    </div>
                    <div class="entry">
                        <label for="id_icrp_rap">ICRP RAP:</label>
                        {{ datacr_form.icrp_rap | add_class:"limited" }}
                    </div>
                    <div class="entry">
                        <label for="id_lifestage">Lifestage:</label>
                        {{ datacr_form.lifestage | add_class:"limited" }}
                    </div>
                </div>
                <div class="left-mid">
                    <div class="entry">
                        <label for="id_wildlife_group">Wildlife Group:</label>
                        {{ datacr_form.wildlife_group | add_class:"limited" }}
                    </div>
                    <div class="entry">
                        <label for="id_studytype">Studytype:</label>
                        {{ datacr_form.study_type | add_class:"limited" }}
                    </div>
                    <div class="entry">
                        <textarea id="id_notes" name="notes" placeholder="Notes"></textarea>
                    </div>
                </div>
                <div class="right-mid">
                    <!-- the actual value to be saved for a speciesname instance -->
                    <input type="hidden" name="species_name" id="species_name_id"
                           value="{{ datacr_form.species_name.value }}">

                    <div class="entry">
                        <label for="id_name_common">Species Common:</label>
                        <select style="width: 200px;" id="id_name_common">
                            {% for species in species_list %}
                                <option value="{{ species.species_id }}">{{ species.name_common }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="entry">
                        <label for="id_measurement_date">Sampling Date:</label>
                        <input type="date" id="id_measurement_date" name="measurement_date">
                    </div>
                    <div class="entry">
                        <label for="id_biohalflife">Biohalflife:</label>
                        <input type="text" id="id_biohalflife" name="biohalflife">
                    </div>
                </div>
                <div class="right-rim">
                    <div class="entry">
                        <label for="id_name_latin">Species Latin:</label>
                        <select style="width: 200px;" id="id_name_latin">
                            {% for species in species_list %}
                                <option value="{{ species.species_id }}">{{ species.name_latin }}</option>
                            {% endfor %}
                        </select>
                    </div>
                        {# { datacr_form.species_name | add_class:"limited" }#}
                    <div class="entry">
                        <label for="id_radionuclide">Element/Nuclide:</label>
                        {{ datacr_form.radionuclide | add_class:"limited" }}
                    </div>
                </div>
            </div>
        </section>

        <!-- Sample Section -->


        <section class="media">
            <div class="flex-container">
                <div class="left-rim">
                    <div class="entry">
                        <label for="id_media">Media Type:</label>
                        {{ datacr_form.media | add_class:"limited" }}
                        <!--<select id="id_media" name="media">
                            <option value="soil" selected>Soil</option>
                            <option value="air">Air</option>
                        </select>-->
                    </div>
                    <div class="entry">
                        <label for="id_biota_n">N for Media:</label>
                        <input type="text" id="id_biota_n" name="n_biota_n">
                    </div>
                </div>
                <div class="left-mid">
                    <div class="entry">
                        <label for="id_media_wet_dry">Media Wet/Dry:</label>
                        <select id="id_media_wet_dry" name="media_wet_dry">
                            <option value="Wet">Wet</option>
                            <option value="Dry">Dry</option>
                        </select>
                    </div>
                    <div class="entry">
                        <label for="id_media_sd">SD for Media:</label>
                        <input type="text" id="id_media_sd" name="media_sd">
                    </div>
                </div>
                <div class="right-mid">
                    <div class="entry">
                        <label for="id_media_conc">Media Concentration:</label>
                        <input type="text" id="id_media_conc" name="media_conc">
                    </div>
                </div>
                <div class="right-rim">
                    <div class="entry">
                        <label for="id_media_conc_units">Media Units:</label>
                        <select id="id_media_conc_units" name="media_conc_units">
                        </select>
                        <!-- in-between calculations result - but saved, too -->
                        <input type="hidden" id="id_stand_media_conc" name="stand_media_conc" value="">
                    </div>
                </div>
            </div>
        </section>

        <section class="tissue">
            <div class="flex-container">
                <div class="left-rim">
                    <div class="entry">
                        <label for="id_tissue_name">Tissue Type:</label>
                        {{ datacr_form.tissue | add_class:"limited" }}
                    </div>
                    <div class="entry">
                        <label for="id_biota_n">N for Biota:</label>
                        <input type="text" id="id_biota_n" name="biota_n">
                    </div>
                </div>
                <div class="left-mid">
                    <div class="entry">
                        <label for="id_biota_wet_dry">Status of Biota:</label>
                        <select id="id_biota_wet_dry" name="biota_wet_dry">
                            <option value="Wet">Wet</option>
                            <option value="Dry">Dry</option>
                            <option value="Ash">Ash</option>
                        </select>
                    </div>
                    <div class="entry">
                        <label for="id_biota_sd">SD for Biota:</label>
                        <input type="text" id="id_biota_sd" name="biota_sd">
                    </div>
                </div>
                <div class="right-mid">
                    <div class="entry">
                        <label for="id_biota_conc">Biota Concentration:</label>
                        <input type="text" id="id_biota_conc" name="biota_conc">
                    </div>
                </div>
                <div class="right-rim">
                    <div class="entry">
                        <label for="id_biota_conc_units">Biota Units:</label>
                        <select id="id_biota_conc_units" name="biota_conc_units">
                            <option value="Bq/l">Bq/l</option>
                            <option value="Bq/m3">Bq/m3</option>
                            <option value="mBq/l">mBq/l</option>
                            <option value="mg/l">mg/l</option>
                            <option value="p/Ci/l">p/Ci/l</option>
                            <option value="ppb">ppb</option>
                            <option value="ppm">ppm</option>
                            <option value="uCi/l">uCi/l</option>
                            <option value="ug/l">ug/l</option>
                        </select>

                        <!-- in-between calculations result - but saved, too -->
                        <input type="hidden" id="id_stand_biota_conc" name="stand_biota_conc" value="">
                    </div>
                </div>
            </div>
        </section>

        <section class="cr">
            <div class="flex-container">
                <div class="left-rim">
                    <div class="entry">
                        <label for="id_cr">Concentration Ratio:</label>
                        <input type="text" id="id_cr" name="cr">

                        {% if datacr_form.cr.errors %}
                            <div class="alert alert-warning" role="alert" style="color: red">
                                {{ datacr_form.cr.errors.as_text }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="left-mid">
                    <div class="entry">
                        <label for="id_crn">N of CR:</label>
                        <input type="text" id="id_crn" name="crn">

                        {% if datacr_form.crn.errors %}
                            <div class="alert alert-warning" role="alert" style="color: red">
                                {{ datacr_form.crn.errors.as_text }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="right-mid">
                    <div class="entry">
                        <label for="id_cr_sd">SD of CR:</label>
                        <input type="text" id="id_cr_sd" name="cr_sd">
                    </div>
                </div>
                <div class="right-rim">
                    <div class="entry">
                    </div>
                </div>
            </div>
        </section>

        {% block style %}
            <script src="{% static 'js/base_form_data.js' %}"></script>
            <script src="{% static 'js/add_datacr.js' %}"></script>
        {% endblock style %}

        {% block form_buttons %}
            <!-- buttons decided by child templates -->
        {% endblock %}

    </form>
{% endblock %}

{% block specific_content %}
    <!-- Placeholder for page-specific content -->
{% endblock %}