{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}{{ page_title }} - Wildlife Transfer Parameter DB{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/add_datacr.css' %}">
{% endblock %}

{% block content %}
    <h1>{{ heading }}</h1>

    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form method="post" action="{% url 'add_datacr' %}">
        {% csrf_token %}


        <!-- Reference Section -->
        <section class="reference">
            <!--<h2>Reference</h2>-->
            <div class="entry">
                <!--<label for="id_reference_id">Reference ID: <span id="reference_id_placeholder"></span></label>-->
                <label for="id_ref_id">Reference ID: <input type="text" id="ref_id"
                                                            name="ref_id" readonly></label>
            </div>

            <div class="pub">
                <label for="id_article_title">Article Title:</label>
                {{ reference_form.article_title }}
            </div>
            <div class="pub">
                <label for="id_publication_title">Publication Title:</label>
                {{ reference_form.pub_title }}
            </div>

            <div class="flex-container">
                <div class="left">
                    <div class="entry">
                        <label for="id_author">Author:</label>
                        <input type="text" id="id_author" name="author">
                    </div>
                    <div class="entry">
                        <label for="id_volume">Volume:</label>
                        <input type="text" id="id_volume" name="volume">
                    </div>
                    <div class="entry">
                        <label for="id_pages">Page Numbers:</label>
                        <input type="text" id="id_pages" name="pages">
                    </div>
                    <div class="entry">
                        <label for="id_reference_language">Reference Language:</label>
                        {{ reference_form.language }}
                    </div>
                </div>

                <div class="right">
                    <div class="entry">
                        <label for="id_publication_type">Publication Type:</label>
                        {{ reference_form.pub_type }}
                    </div>
                    <div class="entry">
                        <label for="id_year">Year:</label>
                        <input type="text" id="id_year" name="year">
                    </div>
                    <div class="entry">
                        <label for="id_part">Part:</label>
                        <input type="text" id="id_part" name="part">
                    </div>
                    <div class="translation">
                        <label for="id_translation">Translation into English Available:</label>
                        <input type="checkbox" id="id_translation" name="translation">
                    </div>
                </div>
            </div>
        </section>


        <!-- Species Section -->
        <section class="species">
            <!--<h2>Species</h2>-->
            <div class="flex-container">
                <div class="left-rim">
                    <div class="entry">
                        <label for="habitat_specific_type">Habitat:</label>
                        {{ datacr_form.habitat | add_class:"limited" }}
                    </div>
                    <div class="entry">
                        <label for="id_icrp_rap">ICRP RAP:</label>
                        {{ datacr_form.icrp_rap | add_class:"limited" }}
                    </div>
                    <div class="entry">
                        <label for="id_lifestage">Lifestage:</label>
                        {{ datacr_form.lifestage | add_class:"limited" }}
                    </div>
                </div>
                <div class="left-mid">
                    <div class="entry">
                        <label for="id_wildlife_group">Wildlife Group:</label>
                        {{ datacr_form.wildlife_group | add_class:"limited" }}
                    </div>
                    <div class="entry">
                        <label for="id_studytype">Studytype:</label>
                        {{ datacr_form.study_type | add_class:"limited" }}
                    </div>
                    <div class="entry">
                        <textarea id="id_notes" name="notes" placeholder="Notes"></textarea>
                    </div>
                </div>
                <div class="right-mid">
                    <div class="entry">
                        <label for="id_name_common">Species Common:</label>
                        {{ datacr_form.species_name | add_class:"limited" }}
                    </div>
                    <div class="entry">
                        <label for="id_measurement_date">Sampling Date:</label>
                        <input type="date" id="id_measurement_date" name="measurement_date">
                    </div>
                    <div class="entry">
                        <label for="id_dynamic_info">Dynamic Info:</label>
                        <input type="text" id="id_dynamic_info" name="dynamic_info" readonly>
                    </div>
                </div>
                <div class="right-rim">
                    <!--<div class="entry">
                        <label for="id_name_latin">Species Latin:</label>
                        {{ datacr_form.species_name | add_class:"limited" }}
                    </div>-->
                    <div class="entry">
                        <label for="id_radionuclide">Element/Nuclide:</label>
                        {{ datacr_form.radionuclide | add_class:"limited" }}
                    </div>
                </div>
            </div>
        </section>

        <!-- Sample Section -->


        <section class="media">
            <div class="flex-container">
                <div class="left-rim">
                    <div class="entry">
                        <label for="id_media">Media Type:</label>
                        {{ datacr_form.media | add_class:"limited" }}
                        <!--<select id="id_media" name="media">
                            <option value="soil" selected>Soil</option>
                            <option value="air">Air</option>
                        </select>-->
                    </div>
                    <div class="entry">
                        <label for="id_biota_n">N for Media:</label>
                        <input type="text" id="id_biota_n" name="n_biota_n">
                    </div>
                </div>
                <div class="left-mid">
                    <div class="entry">
                        <label for="id_media_wet_dry">Media Wet/Dry:</label>
                        <select id="id_media_wet_dry" name="media_wet_dry">
                            <option value="Wet">Wet</option>
                            <option value="Dry">Dry</option>
                        </select>
                    </div>
                    <div class="entry">
                        <label for="id_media_sd">SD for Media:</label>
                        <input type="text" id="id_media_sd" name="media_sd">
                    </div>
                </div>
                <div class="right-mid">
                    <div class="entry">
                        <label for="id_media_conc">Media Concentration:</label>
                        <input type="text" id="id_media_conc" name="media_conc">
                    </div>
                </div>
                <div class="right-rim">
                    <div class="entry">
                        <label for="id_media_conc_units">Media Units:</label>
                        <select id="id_media_conc_units" name="media_conc_units">
                        </select>
                        <!-- in-between calculations result - but saved, too -->
                        <input type="hidden" id="id_media_standardised" name="media_standardised" value="">
                    </div>
                </div>
            </div>
        </section>

        <section class="tissue">
            <div class="flex-container">
                <div class="left-rim">
                    <div class="entry">
                        <label for="id_tissue_name">Tissue Type:</label>
                        {{ datacr_form.tissue | add_class:"limited" }}
                    </div>
                    <div class="entry">
                        <label for="id_biota_n">N for Biota:</label>
                        <input type="text" id="id_biota_n" name="biota_n">
                    </div>
                </div>
                <div class="left-mid">
                    <div class="entry">
                        <label for="id_biota_wet_dry">Status of Biota:</label>
                        <select id="id_biota_wet_dry" name="biota_wet_dry">
                            <option value="Wet">Wet</option>
                            <option value="Dry">Dry</option>
                            <option value="Ash">Ash</option>
                        </select>
                    </div>
                    <div class="entry">
                        <label for="id_biota_sd">SD for Biota:</label>
                        <input type="text" id="id_biota_sd" name="biota_sd">
                    </div>
                </div>
                <div class="right-mid">
                    <div class="entry">
                        <label for="id_biota_conc">Biota Concentration:</label>
                        <input type="text" id="id_biota_conc" name="biota_conc">
                    </div>
                </div>
                <div class="right-rim">
                    <div class="entry">
                        <label for="id_biota_conc_units">Biota Units:</label>
                        <select id="id_biota_conc_units" name="biota_conc_units">
                            <option value="Bq/l">Bq/l</option>
                            <option value="Bq/m3">Bq/m3</option>
                            <option value="mBq/l">mBq/l</option>
                            <option value="mg/l">mg/l</option>
                            <option value="p/Ci/l">p/Ci/l</option>
                            <option value="ppb">ppb</option>
                            <option value="ppm">ppm</option>
                            <option value="uCi/l">uCi/l</option>
                            <option value="ug/l">ug/l</option>
                        </select>

                        <!-- in-between calculations result - but saved, too -->
                        <input type="hidden" id="id_biota_standardised" name="biota_standardised" value="">
                    </div>
                </div>
            </div>
        </section>

        <section class="cr">
            <div class="flex-container">
                <div class="left-rim">
                    <div class="entry">
                        <label for="id_cr">Concentration Ratio:</label>
                        <input type="text" id="id_cr" name="cr" readonly>
                    </div>
                </div>
                <div class="left-mid">
                    <div class="entry">
                        <label for="id_crn">N of CR:</label>
                        <input type="text" id="id_crn" name="crn">
                    </div>
                </div>
                <div class="right-mid">
                    <div class="entry">
                        <label for="id_cr_sd">SD of CR:</label>
                        <input type="text" id="id_cr_sd" name="cr_sd">
                    </div>
                </div>
                <div class="right-rim">
                    <div class="entry">
                    </div>
                </div>
            </div>
        </section>


        {% block form_buttons %}
            <!-- buttons decided by child templates -->
        {% endblock %}

    </form>

    <script>
        // JavaScript to set the value of reference_id when the page loads
        document.addEventListener('DOMContentLoaded', function () {
            console.log("DOM content loaded");
            // Generate a unique reference_id based on the date and time
            /*var reference_id = new Date().toISOString().replace(/[-:TZ.]/g, '');*/
            var reference_id = new Date().toISOString().replace(/[-:TZ.]/g, '').slice(3, -5);
            document.getElementById('ref_id').value = reference_id;
            console.log("Reference ID set:", reference_id);

            // Get references to the Media Type and Media Units dropdowns
            var habitatDropdown = document.getElementById('id_habitat');
            var mediaTypeDropdown = document.getElementById('id_media');
            var mediaUnitsDropdown = document.getElementById('id_media_conc_units');
            var mediaWetDryDropdown = document.getElementById('id_media_wet_dry');

            // Function to update Media Type based on the selected Habitat
            function updateMediaType() {
                console.log("updateMediaType() started");
                // Clear previous options
                mediaTypeDropdown.innerHTML = '';

                // Get the selected value of Habitat
                var selectedHabitat = habitatDropdown.value.toLowerCase();
                var selectedHabitatIndex = habitatDropdown.selectedIndex;
                var selectedHabitatText = habitatDropdown.options[selectedHabitatIndex].text.toLowerCase();
                console.log("Selected Habitat: ", selectedHabitatText);

                console.log("Selected Habitat no: ", selectedHabitat);


                console.log("changes follow");
                //var selectedHabitatId = habitatDropdown.value;
                //console.log("Selected Habitat ID: ", selectedHabitatId);

                fetch(`/get-media-for-habitat/?habitat_id=${selectedHabitat}`)
                    .then(response => response.json())
                    .then(data => {
                        // Clear previous options
                        mediaTypeDropdown.innerHTML = '';

                        // Filter out 'Biota' from the options, add else
                        data.filter(media => media.media_type.toLowerCase() !== 'biota').forEach(function (media) {
                            var option = new Option(media.media_type, media.media_id);
                            console.log("media_type: ", media.media_type);
                            console.log("id: ", media.id);
                            console.log("media_id: ", media.media_id);
                            mediaTypeDropdown.add(option);
                        });
                    })
                    .catch(error => console.error('Error fetching media types:', error));
            }

            // Function to update Media Units based on the selected Media Type
            function updateMediaUnits() {
                console.log("updateMediaUnits() started");
                // Clear previous options
                mediaUnitsDropdown.innerHTML = '';
                mediaWetDryDropdown.innerHTML = '';

                // Get the selected value of Media Type
                var selectedMedia = mediaTypeDropdown.options[mediaTypeDropdown.selectedIndex];
                console.log("selectedMedia: ", selectedMedia);
                var selectedMediaID = selectedMedia.value;
                console.log("selectedMediaID: ", selectedMediaID);
                var selectedMediaType = selectedMedia.text.toLowerCase();
                console.log("selectedMediaType: ", selectedMediaType);

                // Add unit options based on the selected Media Type
                if (selectedMediaType === 'air') {
                    addMediaUnitOption('Bq/m3', 'Bq/m3');
                } else if ((selectedMediaType === 'soil')
                    || (selectedMediaType === "sediment")
                    || (selectedMediaType === "water")) {
                    addMediaUnitOption('µCi/kg', 'µCi/kg');
                    addMediaUnitOption('Bq/g', 'Bq/g');
                    addMediaUnitOption('Bq/m2', 'Bq/m2');
                    addMediaUnitOption('mBq/g', 'mBq/g');
                    addMediaUnitOption('mBq/kg', 'mBq/kg');
                    addMediaUnitOption('mg/g', 'mg/g');
                    addMediaUnitOption('mg/kg', 'mg/kg');
                    addMediaUnitOption('pCi/g', 'pCi/g');
                    addMediaUnitOption('pCi/kg', 'pCi/kg');
                    addMediaUnitOption('ppb', 'ppb');
                    addMediaUnitOption('ppm', 'ppm');
                    addMediaUnitOption('ug/g', 'ug/g');
                    addMediaUnitOption('ug/kg', 'ug/kg');
                }

                // Add wt/dry options based on the selected Media Type
                if (selectedMediaType === 'air') {
                    addWetDryOption('Air', 'Air');
                } else if (selectedMediaType === "water") {
                    addWetDryOption('Water', 'Water');
                } else if (selectedMediaType === 'soil') {
                    addWetDryOption('Dry', 'Dry');
                }
            }

            // Helper functions to add options to the dropdown
            function addMediaUnitOption(text, value) {
                var option = document.createElement('option');
                option.text = text;
                option.value = value;
                mediaUnitsDropdown.add(option);
            }

            function addWetDryOption(text, value) {
                var option = document.createElement('option');
                option.text = text;
                option.value = value;
                mediaWetDryDropdown.add(option);
            }

            // Attach the functions to the change event of dropdowns
            habitatDropdown.addEventListener('change', updateMediaType);
            mediaTypeDropdown.addEventListener('change', updateMediaUnits);

            // Initialize functions on page load
            //updateMediaType();
            //updateMediaUnits();

            var mediaConcField = document.getElementById('id_media_conc');
            var biotaConcField = document.getElementById('id_biota_conc');
            mediaConcField.addEventListener('input', updateTest);
            mediaUnitsDropdown.addEventListener('input', updateTest);

            function updateTest() {
                console.log("updateTest() started");
                console.log("updateTest() started");
                console.log("updateTest() started");
                console.log("updateTest() started");
            }


            /******************* CR CALCULATIONS ***************************/

                // Get references to the relevant input fields and select dropdowns
            var biotaUnitsDropdown = document.getElementById('id_biota_conc_units');

            // Function to update Concentration Ratio based on Media and Biota Concentration
            function updateConcentrationRatio() {
                console.log("updateConcentrationRatio() started");
                var mediaUnitSymbol = document.getElementById('id_media_conc_units').value;
                console.log("mediaUnitSymbol", mediaUnitSymbol);
                var biotaUnitSymbol = document.getElementById('id_biota_conc_units').value;
                console.log("biotaUnitSymbol", biotaUnitSymbol);
                var mediaType = document.getElementById('id_media').options[document.getElementById('id_media').selectedIndex].text;
                console.log("mediaType", mediaType);

                fetch(`/get_correction_factor/?unit_symbol=${mediaUnitSymbol}&media_type=${mediaType}`)
                    .then(response => response.json())
                    .then(mediaData => {
                        // Make AJAX request for biota unit correction factor
                        fetch(`/get_correction_factor/?unit_symbol=${biotaUnitSymbol}&media_type=${mediaType}`)
                            .then(response => response.json())
                            .then(biotaData => {
                                // Display the result for media unit
                                var mediaCorrectionFactor = mediaData.correction_factor || 1.0;
                                var mediaConcentration = parseFloat(mediaConcField.value);
                                var mediaResult = mediaCorrectionFactor * mediaConcentration;
                                // updating invisible field to save this too
                                console.log("setting media_standardised with ", mediaResult);
                                document.getElementById('id_media_standardised').value = mediaResult;

                                // Display the result for biota unit
                                var biotaCorrectionFactor = biotaData.correction_factor || 1.0;
                                var biotaConcentration = parseFloat(biotaConcField.value);
                                var biotaResult = biotaCorrectionFactor * biotaConcentration;
                                console.log("setting biota_standardised with ", biotaResult);
                                document.getElementById('id_biota_standardised').value = biotaResult;

                                // Calculate and display the Concentration Ratio
                                var crField = document.getElementById('id_cr');
                                var concentrationRatio = biotaResult / mediaResult;
                                crField.value = concentrationRatio.toFixed(2);
                            })
                            .catch(biotaError => {
                                console.error('Error fetching biota correction factor:', biotaError);
                            });
                    })
                    .catch(mediaError => {
                        console.error('Error fetching media correction factor:', mediaError);
                    });
            }

            // Attach the updateConcentrationRatio function to the input event of Media and Biota Concentration fields
            mediaConcField.addEventListener('input', updateConcentrationRatio);
            biotaConcField.addEventListener('input', updateConcentrationRatio);
            mediaUnitsDropdown.addEventListener('input', updateConcentrationRatio);
            biotaUnitsDropdown.addEventListener('input', updateConcentrationRatio);
            mediaUnitsDropdown.addEventListener('change', updateConcentrationRatio);
        });
    </script>
{% endblock %}

{% block specific_content %}
    <!-- Placeholder for page-specific content -->
{% endblock %}