{% extends "base.html" %}
{% load static %}

{% block title %}Data View Page{% endblock %}

{% block content %}
    <h1>CR Data Overview</h1>
    <table class="data-table">
        <thead>
            <tr>
                <th>CR ID</th>
                <th>From ERICA</th>
                <th>Correction Ratio (CR)</th>
                <th>Approval Status</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
                <tr>
                    <td>{{ item.cr_id }}</td>
                    <td>{{ item.from_erica }}</td>
                    <td>{{ item.cr }}</td>
                    <td>{{ item.approval_data_status }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <link rel="stylesheet" href="/static/css/data.css">
    {% block extra_css %}{% endblock %}
{% endblock %}