{% extends 'base_form_data.html' %}
{% load widget_tweaks %}

{% load static %}

{% block extra_css %}
    {{ block.super }} <!-- Keeps the base template's styles and adds new ones -->
    <link rel="stylesheet" href="{% static 'css/base_form_data.css' %}">
{% endblock extra_css %}


{% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<form method="post" action="{% url 'edit_data_record' ref_id=ref_id %}">
    {% csrf_token %}


    {% block javascript %}
        {# needs to stay here: Django template tags are not processed in static files #}
        {# These template tags are only interpreted by Django when they're found in .html template files! #}
        <script>
            $(document).ready(function () {
                $("#id_article_title").autocomplete({
                    source: "{% url 'article-search' %}",
                    minLength: 2, // Minimum length before searching
                    select: function (event, ui) {
                        $('#id_article_title').val(ui.item.value); // Set the value for the article title input
                    }
                });
            });
            $(document).ready(function () {
                // Change the background image based on input
                $('#id_article_title').on('input', function () {
                    if ($(this).val().length > 0) {
                        $(this).css('background-image', 'none');
                    } else {
                        $(this).css('background-image', 'url("../static/images/magnifying-glass.png")');
                    }
                });
            });
        </script>
    {% endblock %}

    {% with page_title="Edit Data Record" heading="Edit Record" button_value="save_changes" button_label="Update" %}

        {% block content %}
            {% with page_title="Edit Data Record" heading="Edit Data Record" form_action="edit_data_record" button_value="edit_data_record" button_label="Update" %}
                {{ block.super }}
            {% endwith %}
        {% endblock %}

        {% block form_buttons %}
            <button type="submit" name="action" value="edit_data_record">Update</button>

           <!-- <button type="submit">Save Changes</button>-->
            {% if datacr and datacr.cr_id %}
                <a href="{% url 'delete_datacr_record_confirm' cr_id=datacr.cr_id %}" class="button-link ">Delete Data
                    Record</a>
            {% endif %}
            <a href="{% url 'delete_entire_record_confirm' ref_id=reference.ref_id %}" class="button-link ">Delete
                Entire Reference & Data Record</a>

        {% endblock %}

        {% block style %}
            <script src="{% static 'js/base_form_data.js' %}"></script>
            <script src="{% static 'js/add_datacr.js' %}"></script>
        {% endblock style %}
    {% endwith %}

</form>
