{% extends 'base_form_data.html' %}
{# Source of tweak Widget Tweak: https://stackoverflow.com/questions/43250331/form-not-uploading-with-widget-tweaks-django #}
{% load widget_tweaks %}

{% load static %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/base_form_data.css' %}">
{% endblock extra_css %}

{% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<form method="post" action="{% url 'edit_data_record' cr_id=cr_id %}">
    {% csrf_token %}

    {% with page_title="Edit Data Record" heading="Edit Record" button_value="save_changes" button_label="Update" %}

        {% block content %}
            {% with page_title="Edit Data Record" heading="Edit Data Record" form_action="edit_data_record" button_value="edit_data_record" button_label="Update" %}
                {{ block.super }}
            {% endwith %}
        {% endblock %}

        {% block form_buttons %}
            <button type="submit" name="action" value="edit_data_record">Update</button>

            {% if datacr and datacr.cr_id %}
                <a href="{% url 'delete_datacr_record_confirm' cr_id=datacr.cr_id %}" class="button-link ">Delete Data
                    Record</a>
            {% endif %}
            <a href="{% url 'delete_entire_record_confirm' ref_id=reference.ref_id %}" class="button-link ">Delete
                Entire Reference & Data Record</a>

        {% endblock %}

        {% block style %}
            <script src="{% static 'js/base_form_data.js' %}"></script>
            <script src="{% static 'js/add_datacr.js' %}"></script>
        {% endblock style %}
    {% endwith %}

</form>
