{% extends 'base_form_data.html' %}

{% load static %}

{% block form_action %}
    {{ reference.ref_id }}
{% endblock %}

{% block extra_css %}
    {{ block.super }} <!-- Keeps the base template's styles and adds new ones -->
    <link rel="stylesheet" href="{% static 'css/add_datacr.css' %}">
{% endblock %}

{% block content %}
    {% with page_title="Edit Data Record" heading="Edit Record" button_value="save_changes" button_label="Update" %}
        <!-- Note: No need to duplicate the form tag here since it's already defined in base_form_data.html -->
        {% block reference_section %}
            <legend>Reference Information</legend>
            <div class="entry">
                {{ reference_form.ref_id }}
            </div>
            {{ reference_form.as_p }}
        {% endblock %}
        {% block datacr_section %}
            <legend>DataCR Information</legend>
            {{ datacr_form.as_p }}
        {% endblock %}
        <!-- The form buttons will be rendered by the form_buttons block -->
    {% endwith %}
{% endblock %}

{% block form_buttons %}
    <button type="submit">Save Changes</button>
    <a href="{% url 'view_editable_data_records' %}">Cancel</a>
{% endblock %}
