{% extends "base.html" %}
{% load static %}

{% block title %}Data View Page{% endblock %}

{% block content %}
    <h1>The References</h1>
    <table class="data-table">
        <thead>
            <tr>
                <th>Reference ID</th>
                <th>From ERICA</th>
                <th>Correction Ratio (CR)</th>
                <th>Approval Status</th>
            </tr>
        </thead>
        <tbody>
            {% for item in reference %}
                <tr>
                    <td>{{ item.ref_id }}</td>
                    <td>{{ item.author }}</td>
                    <td>{{ item.volume }}</td>
                    <td>{{ item.translation }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <link rel="stylesheet" href="/static/css/data.css">
    {% block extra_css %}{% endblock %}
{% endblock %}