{% extends "base.html" %}

{% block title %}Single Data View{% endblock %}

{% block content %}
    <h1>References</h1>

    {% if reference %}
        <div class="data-record">
            <table>
                <tr>
                    <th>Reference ID</th>
                    <th>Year</th>
                    <th>Volume</th>
                    <th>Publication Type</th>
                </tr>
                <tr>
                    <td>{{ reference.ref_id }}</td>
                    <td>{{ reference.year }}</td>
                    <td>{{ reference.volume }}</td>
                    <td>{{ reference.pub_type.type_name }}</td>
                </tr>
            </table>

            <table>
                <tr>
                    <th>Author</th>
                    <th>Article Title</th>
                    <th>Publication Title</th>
                </tr>
                <tr>
                    <td>{{ reference.author }}</td>
                    <td>{{ reference.article_title }}</td>
                    <td>{{ reference.pub_title.title }}</td>
                </tr>
                <tr>
                </tr>
            </table>

            <table>
                <tr>
                    <th>Pages</th>
                    <th>Part</th>
                    <th>Reference Language</th>
                    <th>Translation Available</th>
                </tr>
                <tr>
                    <td>{{ reference.pages }}</td>
                    <td>{{ reference.part }}</td>
                    <td>{{ reference.language.language }}</td>
                    <td>{{ reference.translation }}</td>
                </tr>
            </table>
        </div>

        <!-- navigation links for moving to the next and previous reference records
        <div class="center-links">
            <a href="{ url 'prev_ref_record' reference.ref_id %}">Previous</a>
            <a href="{ url 'next_ref_record' reference.ref_id %}">Next</a>
        </div> -->

        <div class="center-links">
            {% if prev_ref_id and first_cr_of_prev_ref %}
                <a href="{% url 'view_all_data' prev_ref_id first_cr_of_prev_ref %}">Previous Reference</a>
            {% endif %}
            {% if next_ref_id and first_cr_of_next_ref %}
                <a href="{% url 'view_all_data' next_ref_id first_cr_of_next_ref %}">Next Reference</a>
            {% endif %}
        </div>


        <!-- DataCR RECORDS OF ABOVE REFERENCE -->
        <h1>Data Record</h1>
        {% if reference.datacr_set.all %}
            <!-- DataCR record table -->
            <div class="data-record">
                <table>
                    <tr>
                        <th>Habitat</th>
                        <th>Wildlife Group</th>
                    </tr>
                    <tr>
                        <td>{{ reference.datacr_set.first.habitat.habitat_specific_type }}</td>
                        <td>{{ reference.datacr_set.first.wildlife_group.wildlife_group_name }}</td>
                    </tr>
                </table>
            </div>

            <!-- Navigation links for moving to the next and previous data records
            <div class="center-links">
                { with first_datacr=reference.datacr_set.first %}
                    <a href="% url 'prev_datacr_record' reference.ref_id first_datacr.cr_id %}">Previous CR Data</a>
                { endwith %}

                { with last_datacr=reference.datacr_set.last %}
                    <a href="{ url 'next_datacr_record' reference.ref_id last_datacr.cr_id %}">Next CR Data</a>
                { endwith %}
            </div> -->
            <div class="center-links">
                {% if ref_id and prev_datacr_id %}
                    <a href="{% url 'view_all_data' ref_id prev_datacr_id %}">Previous CR Data</a>
                {% endif %}
                {% if ref_id and next_datacr_id %}
                    <a href="{% url 'view_all_data' ref_id next_datacr_id %}">Next CR Data</a>
                {% endif %}
            </div>
        {% else %}
            <p>No related DataCR records found for the specified reference ID.</p>
        {% endif %}

    {% else %}
        {% if error_message %}
            <p>{{ error_message }}</p>
        {% else %}
            <p>No data found for the specified reference ID.</p>
        {% endif %}
    {% endif %}

    <link rel="stylesheet" href="/static/css/view_all_data.css">
{% endblock %}