{% extends 'base.html' %}

{% block content %}
    <h2>Edit Your Records</h2>

    {% if records %}
        <table>
            <thead>
            <tr>
                <th></th>
                <th>Reference ID</th>
                <th>Article Title</th>
                <th>CR Value</th>
            </tr>
            </thead>
            <tbody>
            {% for record in records %}
                <tr>
                    <td>
                        <a href="{% url 'edit_data_record' record.cr_id %}">
                            <!--&#x2197;--> TEST TEST
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'edit_data_record' record.cr_id %}">
                            {{ record.reference_id }}
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'edit_data_record' record.cr_id %}">
                            {{ record.article_title }}
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'edit_data_record' record.cr_id %}">
                            {{ record.cr }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>You currently have no records entered.</p>
    {% endif %}
    <link rel="stylesheet" href="/static/css/view_summary_results.css">
    <link rel="stylesheet" href="/static/css/view_editable_data_records.css">
{% endblock %}
