{% extends "base.html" %}

{% block title %}Single Data View{% endblock %}

{% block content %}
    <h1>References</h1>

    {% if reference %}
        <div class="data-record">
            <table>
                <tr>
                    <th>Reference ID</th>
                    <th>Year</th>
                    <th>Volume</th>
                    <th>Publication Type</th>
                </tr>
                <tr>
                    <td>{{ reference.ref_id }}</td>
                    <td>{{ reference.year }}</td>
                    <td>{{ reference.volume }}</td>
                    <td>{{ reference.pub_type.type_name }}</td>
                </tr>
            </table>

            <table>
                <tr>
                    <th>Author</th>
                    <th>Article Title</th>
                    <th>Publication Title</th>
                </tr>
                <tr>
                    <td>{{ reference.author }}</td>
                    <td>{{ reference.article_title }}</td>
                    <td>{{ reference.pub_title }}</td>
                </tr>
                <tr>
                </tr>
            </table>

            <table>
                <tr>
                    <th>Pages</th>
                    <th>Part</th>
                    <th>Reference Language</th>
                    <th>Translation Available</th>
                </tr>
                <tr>
                    <td>{{ reference.pages }}</td>
                    <td>{{ reference.part }}</td>
                    <td>{{ reference.language.language }}</td>
                    <td>{{ reference.translation }}</td>
                </tr>
            </table>
        </div>

        <div class="center-links">
            <div class="pagination">
                <a href="{% url 'view_all_data' 1 %}" {% if current_page_number == 1 %}class="disabled"{% endif %}>&laquo;
                    First</a>
                {% for num in page_range %}
                    <a href="{% url 'view_all_data' num %}"
                       {% if num == current_page_number %}class="active"{% endif %}>{{ num }}</a>
                {% endfor %}
                <a href="{% url 'view_all_data' paginator.num_pages %}"
                   {% if current_page_number == paginator.num_pages %}class="disabled"{% endif %}>Last &raquo;</a>
            </div>
        </div>


        <!-- DataCR RECORDS OF ABOVE REFERENCE -->
        <h1>Data Record</h1>
        {% if datacr %}

            <!-- DataCR record table -->
            <div class="data-record">
                <table>
                    <tr>
                        <th>Habitat</th>
                        <th>Wildlife Group</th>
                        <th>Element</th>
                        <th>ICRP RAP</th>
                    </tr>
                    <tr>
                        <td>{{ datacr.habitat.habitat_specific_type }}</td>
                        <td>{{ datacr.wildlife_group.wildlife_group_name }}</td>
                        <td>{{ datacr.radionuclide.radionuclide_name }}</td>
                        <td>{{ datacr.icrp_rap.rap_id }}</td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <th>Lifestage</th>
                        <th>Studytype</th>
                        <th>Sampling Date</th>
                        <th>Notes</th>
                    </tr>
                    <tr>
                        <td>{{ datacr.lifestage.lifestage_name }}</td>
                        <td>{{ datacr.study_type.study_type_name }}</td>
                        <td>{{ datacr.measurement_date }}</td>
                        <td>{{ datacr.notes }}</td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <th>Media Type</th>
                        <th>Media Wet/Dry</th>
                        <th>Media Concentration</th>
                        <th>Media Units</th>
                        <th>N for Media</th>
                        <th>SD for Media</th>
                    </tr>
                    <tr>
                        <td>{{ datacr.media.media_type }}</td>
                        <td>{{ datacr.media_wet_dry }}</td>
                        <td>{{ datacr.media_conc }}</td>
                        <td>{{ datacr.media_conc_units }}</td>
                        <td>{{ datacr.media_n }}</td>
                        <td>{{ datacr.media_sd }}</td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <th>Tissue Type</th>
                        <th>Biota Status</th>
                        <th>Biota Concentration</th>
                        <th>Biota Units</th>
                        <th>N for Biota</th>
                        <th>SD for Biota</th>
                    </tr>
                    <tr>
                        <td>{{ datacr.tissue.tissue_name }}</td>
                        <td>{{ datacr.biota_wet_dry }}</td>
                        <td>{{ datacr.biota_conc }}</td>
                        <td>{{ datacr.biota_conc_units }}</td>
                        <td>{{ datacr.biota_n }}</td>
                        <td>{{ datacr.biota_sd }}</td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <th>Concentration Ratio</th>
                        <th>N of CR</th>
                        <th>SD of CR</th>
                    </tr>
                    <tr>
                        <td>{{ datacr.cr }}</td>
                        <td>{{ datacr.crn }}</td>
                        <td>{{ datacr.cr_sd }}</td>
                    </tr>
                </table>
            </div>

            <div class="center-links">
                {% if ref_id and prev_datacr_id %}
                    <a href="{% url 'view_all_data' ref_id prev_datacr_id %}">Previous CR Data</a>
                {% endif %}
                {% if ref_id and next_datacr_id %}
                    <a href="{% url 'view_all_data' ref_id next_datacr_id %}">Next CR Data</a>
                {% endif %}
            </div>
        {% else %}
            <p>No related DataCR records found for the specified reference ID.</p>
        {% endif %}

    {% else %}
        {% if error_message %}
            <p>{{ error_message }}</p>
        {% else %}
            <p>No data found for the specified reference ID.</p>
        {% endif %}
    {% endif %}

    <link rel="stylesheet" href="/static/css/view_all_data.css">
{% endblock %}