{% extends 'base.html' %}

{% block content %}
<h1>Legal Disclaimer</h1>
<p>
    The content of the Wildlife Transfer Database Website has been collated from a number of sources 
    which we gratefully acknowledge. Whilst every attempt is made to ensure that the information is 
    accurate and up-to-date, some information may be subject to change. The wildlife transfer database 
    administrators will not be held liable for information that is subject to change and reserves the 
    right to alter the content of the website at any time.
</p>
{% endblock %}
