@font-face {
    font-family: 'Climate Crisis';
    src: url('/static/fonts/ClimateCrisis.ttf') format('truetype');
    font-style: normal;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #003300;
}

section {
    height: 90vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.landing {
    background-color: #003300;
    color: #fff;
    /*padding: 100px 0;*/
    justify-content: center;
}

.landing-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.landing-content h1 {
    width: 55%;
    text-align: left;
    line-height: 1.5;
}

.login-form {
    width: 45%;
    background-color: transparent;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info {
    height: 45vh;
    background-image: url('/static/images/fox-ears.jpg');
    background-size: 100% auto;
    background-color: #003300;
    background-position: center bottom;

    /* Create the parallax scrolling effect | Source: https://www.w3schools.com/howto/howto_css_parallax.asp */
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.info .info-content {
    margin: 150px 20%;
    padding: 5px 20px;

    background-color: rgba(255, 255, 255, 0.42);
    font-size: 15px;
    line-height: 1.5;
    text-align: left;
}

.supported-by {
    background-color: #f9f9f9;
}

.supported-by-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.supported-by div.head {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 30%;
    margin-left: 90px;
}
.supported-by div.head h2 {
    font-family: 'Climate Crisis', sans-serif;
    color: #003300;
    font-size: 50px;
    line-height: 1;
    text-transform: uppercase;
    margin: 0 20px;
}
.supported-by ul {
    width: 70%;
    line-height: 3;
    margin-left: 90px;
    padding-left: 90px;
}

.contributions {
    background-color: #e9e9e9;
}

.contributions-content {
    padding: 0 15%;
    line-height: 1.5;
}

h1 {
    font-size: 60px;
    margin-left: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}

ul li {
    font-size: 18px;
    margin: 5px 0;
}

footer {
    height: 20vh;
    background-color: #333;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-links {
    text-align: center;
}

.footer-link a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
}

.footer-bullet {
    color: #fff;
    font-size: 16px;
    margin: 0 5px;
}

/****** links under login ******/

.register a {
    color: #88c99c;
    font-weight: bold;
    text-decoration: none;
}

.register a:hover, .register a:focus {
    color: #5f9850;
    text-decoration: none;
}


/****** FOOTER LINKS *******/

.footer-links ul {
    list-style-type: none;
}

footer {
    height: 20vh;
    background-color: #333;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-links {
    text-align: center;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
}

.footer-bullet {
    color: #fff;
    font-size: 16px;
    margin: 0 5px;
}

body footer div.footer-links a {
    color: white;
    text-decoration: none;
}
