{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Wildlife Transfer Parameter DB{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
<header>
    <nav class="top-menu">
        <!-- Make 'home' the dashboard link only if the user is logged in -->
        {% if request.user.is_authenticated %}
            <h1><a href="{% url 'dashboard' %}">Wildlife Transfer Parameter Database</a></h1>
        {% else %}
            <h1><a href="{% url 'login' %}">Wildlife Transfer Parameter Database</a></h1>
        {% endif %}

        <ul>
            <!-- Show dashboard & logout link only if the user is logged in -->
            {% if request.user.is_authenticated %}
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    <div class="footer-links">
        <a href="{% url 'privacy_policy' %}">Privacy policy</a>
        <span class="footer-bullet">&bull;</span>
        <a href="{% url 'legal_disclaimer' %}">Legal Disclaimer</a>
        <span class="footer-bullet">&bull;</span>
        {% if request.user.is_authenticated %}
            <a href="{% url 'contact' %}">Get Help</a>
        {% else %}
            <a href="{% url 'login' %}#info">About</a>
        {% endif %}
    </div>
</footer>
</body>
</html>
