{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Wildlife Transfer Parameter DB{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
<header>
    <nav class="top-menu">
        <!-- Make 'home' the dashboard link only if the user is logged in -->
        {% if request.user.is_authenticated %}
            <h1><a href="{% url 'dashboard' %}">Wildlife Transfer Parameter Database</a></h1>
        {% else %}
            <h1><a href="{% url 'login' %}">Wildlife Transfer Parameter Database</a></h1>
        {% endif %}

        <ul>
            <!-- Show dashboard & logout link only if the user is logged in -->
            {#% if request.user.is_authenticated %#}
            <!--<li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {#% else %#}
            <li><a href="{% url 'login' %}">Login</a></li>-->
            {#% endif %#}

            <!-- logged out replacement IONOS -->
            {% if request.resolver_match.url_name == 'login' %}
                <li><a href="{% url 'logout' %}" class="active">Login</a></li>
            {% endif %}
            {% if request.resolver_match.url_name == 'privacy' %}
                <li><a href="{% url 'logout' %}" class="active">Login</a></li>
            {% endif %}
            {% if request.resolver_match.url_name == 'legal_disclaimer' %}
                <li><a href="{% url 'logout' %}" class="active">Login</a></li>
            {% endif %}

            <!-- logged in replacement IONOS -->
            {% if request.resolver_match.url_name == 'dashboard' %}
                <li><a href="{% url 'logout' %}" class="active">Logout</a></li>
                <li><a href="{% url 'dashboard' %}" class="active">Dashboard</a></li>
            {% endif %}
            {% if request.resolver_match.url_name == 'add_datacr' %}
                <li><a href="{% url 'logout' %}" class="active">Logout</a></li>
                <li><a href="{% url 'dashboard' %}" class="active">Dashboard</a></li>
            {% endif %}
            {% if request.resolver_match.url_name == 'view_editable_data_records' %}
                <li><a href="{% url 'logout' %}" class="active">Logout</a></li>
                <li><a href="{% url 'dashboard' %}" class="active">Dashboard</a></li>
            {% endif %}
            {% if request.resolver_match.url_name == 'contact' %}
                <li><a href="{% url 'logout' %}" class="active">Logout</a></li>
                <li><a href="{% url 'dashboard' %}" class="active">Dashboard</a></li>
            {% endif %}
            {% if request.resolver_match.url_name == 'download_summaries' %}
                <li><a href="{% url 'logout' %}" class="active">Logout</a></li>
                <li><a href="{% url 'dashboard' %}" class="active">Dashboard</a></li>
            {% endif %}
            {% if request.resolver_match.url_name == 'all_reports' %}
                <li><a href="{% url 'logout' %}" class="active">Logout</a></li>
                <li><a href="{% url 'dashboard' %}" class="active">Dashboard</a></li>
            {% endif %}
            {% if request.resolver_match.url_name == 'tables_panel' %}
                <li><a href="{% url 'logout' %}" class="active">Logout</a></li>
                <li><a href="{% url 'dashboard' %}" class="active">Dashboard</a></li>
            {% endif %}
            {% if request.resolver_match.url_name == 'report_user' %}
                <li><a href="{% url 'logout' %}" class="active">Logout</a></li>
                <li><a href="{% url 'dashboard' %}" class="active">Dashboard</a></li>
            {% endif %}
            {% if request.resolver_match.url_name == 'report_authors' %}
                <li><a href="{% url 'logout' %}" class="active">Logout</a></li>
                <li><a href="{% url 'dashboard' %}" class="active">Dashboard</a></li>
            {% endif %}
            {% if request.resolver_match.url_name == 'view_summary_results' %}
                <li><a href="{% url 'logout' %}" class="active">Logout</a></li>
                <li><a href="{% url 'dashboard' %}" class="active">Dashboard</a></li>
            {% endif %}
            {% if request.resolver_match.url_name == 'reference' %}
                <li><a href="{% url 'logout' %}" class="active">Logout</a></li>
                <li><a href="{% url 'dashboard' %}" class="active">Dashboard</a></li>
            {% endif %}
            {% if request.resolver_match.url_name == 'view_all_data' %}
                <li><a href="{% url 'logout' %}" class="active">Logout</a></li>
                <li><a href="{% url 'dashboard' %}" class="active">Dashboard</a></li>
            {% endif %}

        </ul>
    </nav>
</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    <div class="footer-links">
        <a href="{% url 'privacy_policy' %}">Privacy policy</a>
        <span class="footer-bullet">&bull;</span>
        <a href="{% url 'legal_disclaimer' %}">Legal Disclaimer</a>
        <span class="footer-bullet">&bull;</span>
        {% if request.user.is_authenticated %}
            <a href="{% url 'contact' %}">Get Help</a>
        {% else %}
            <a href="{% url 'login' %}#info">About</a>
        {% endif %}
    </div>
</footer>
</body>
</html>