.dashboard-options {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.dashboard-option {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    padding: 30% 10%;
    background-color: #f9f9f9;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dashboard-option a {
    text-decoration: none;
    color: #224133;
    font-weight: bold;
    font-size: 16px;
}