section {
    /*background-color: #b0b6af;*/
    background-color: #b0bdae;
    padding: 10px 20px 10px 20px;
    margin: 10px 0;
    /*padding: 20px;*/
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/******************* REFERENCE *******************/

.reference {
    /*display: flex;
    flex-direction: column;*/
    /* align-items: center; Centering the content horizontally? */
}

.flex-container {
    display: flex;
    width: 100%;
}

.left, .right {
    width: 50%;
    display: flex;
    flex-direction: column; /* make the content stack vertically */
}

/* some margin between the labels and inputs/select */
.left label,
.right label,
.left input,
.right select,
.right input {
    margin-bottom: 10px;
}

div.entry, div.pub {
    margin: 5px;
    width: 100%;
}
div.translation {
    margin-top: 5px;
}


/* Publication Title Lable & Field */
div.pub {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.pub label {
    margin-right: 10px;
    white-space: nowrap; /* Prevent label from wrapping to the next line */
}

.pub select {
    flex: 1;
    /*width: auto;  Let the select element determine its width based on content */
    width: 100%;
    margin-left: 5px; /* Adjust margin to separate label and select */
}

/*.article-title-search {
    padding: 5px;
    background-size: 20px 20px;
     padding-left: 34px; Adjust padding to make room for the icon */
    /* background-color: #FFF; */
    /*border: 2px solid #CCC;  */
    /* Change as needed */
    /*background: white url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-solid-900.svg#search') no-repeat scroll 7px 7px;
    */
    /*background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' d='M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128s128 57.2 128 128c0 70.7-57.2 128-128 128z'%3E%3C/path%3E%3C/svg%3E");
     border-radius: 5px;
}

.article-title-search {
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 40px;
}*/

.article-title-search {
    background-size: 20px 20px;
    padding: 5px;

}

/******************* SPECIES SECTION *******************/

.left-rim, .left-mid, .right-mid, .right-rim {
    width: 25%;
    display: flex;
    flex-direction: column; /* Updated to make the content stack vertically */
}

/* some margin between the labels and inputs/select */
.left label,
.right label,
.left input,
.right select,
.right input {
    margin-bottom: 10px;
}

div.entry select.limited {
    width: 100%;
    max-width: 120px;
}

input.full-width {
    width: 100%;
}
