section {
    background-color: rgba(255, 255, 255, 0.91);
    padding: 10px 20px 10px 20px;
    margin: 13px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input, select, textarea, input[type="checkbox"] {
    background-color: #f5f6f6;
    border: 1px solid #ccc;
}

/******************* REFERENCE *******************/

.flex-container {
    display: flex;
    width: 100%;
}

.article-title-search {
    background-size: 15px 15px;
    padding: 1px;
}

/******************* SPECIES SECTION *******************/

input.article-title-search {
    width: 100%;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: black;
    margin-bottom: 5px;
}

.top input, .top label {
    border: none;
    background-color: unset;
    font-size: 1em;
    font-weight: bold;
    width: 140px;
    color: #00723f;
}

.ref-left {
    width: 83%;
}

.ref-right {
    width: 17%;
    padding-left: 4px;
}

#article-label {
    padding-right: 5px;
}

div.translation {
    margin-top: 2px;
}

.translation {
    display: flex;
    align-items: center;
}

.translation input[type="checkbox"] {
    margin-top: 3px;
}

.translation input[type="checkbox"]::before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: #e9ebec;
    border: 1px solid #ccc;
}

.translation input[type="checkbox"]:checked::before {
    background-color: #333;
    content: '\2713'; /* Checkmark Unicode character */
    color: #fff;
    text-align: center; /* Center the checkmark */
    font-size: 12px;
    line-height: 14px; /* Center vertically */
}


div.line { /* space-joining items belonging together */
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.line label {
    white-space: nowrap; /* Prevent label from wrapping to the next line */
}

.line select {
    width: 100%;
    margin-left: 5px;
}

.line input {
    width: 100%;
}

.ref-small {
    width: 75px;
}


.space-balance .entry { /* balancing the space in a line */
    margin: auto;
}

.space-balance .entry:first-child {
    margin-left: 0;
}

.small-input {
    width: 60px;
    margin: auto;
}

.status {
    width: 50px;
}


/********** HABITAT *********/

#habitat {
    margin-bottom: 5px;
}

#id_notes {
    width: 100%;
    height: 40px;
    margin-left: 5px;
}

.limited {
    width: 90px;
}

.nuclide {
    width: 40px;
}

input#id_biohalflife {
    width: 50px;
}

input#id_measurement_date {
    width: 80px;
}


/************ MEDIA **********/

h2 {
    font-size: 1em;
    margin: 0;
    padding: 0;
    color: #00723f;
}


.date {
    width: 10px;
}


button[type="submit"], .button-link {
    display: inline-block;
    padding: 8px 16px;
    background-color: #004b2a;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover, .button-link:hover {
    background-color: #077947;
}

.button-link {
    padding: 6px 16px;
    background-color: #2d000c;
    color: #fff;
}

.button-link:hover {
    background-color: #c53355;
    color: black;
}








