.data-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.data-table th, .data-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
}

.data-table th {
    background-color: #004225;
    color: white;
}

.data-table th:last-child, .data-table td:last-child {
    border-right: none;
}

.data-table tr:last-child th, .data-table tr:last-child td {
    border-bottom: none;
}