body {
    font-family: Arial, sans-serif;
    background-color: #dadee0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #004225;
    color: white;
    text-align: center;
    padding: 1.5rem 0;
    margin: 0;
}

main {
    padding: 80px 50px;
    margin-bottom: 200px;
}

nav.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

.messages {
    list-style: none;
    padding: 0;
}

.messages li {
    margin: 5px 0;
}

.messages.error {
    color: red;
}

button {
    background-color: #004225;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #002f17;
}


footer {
    height: 20vh;
    /*padding: 20px;*/
    background-color: #333;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-links {
    text-align: center;
}

.footer-link a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
}

.footer-bullet {
    color: #fff;
    font-size: 16px;
    margin: 0 5px;
}


/* login link */

.login a {
    color: #5f9850;
    font-weight: bold;
    text-decoration: none;
}

.login a:hover, .login a:focus {
    color: #88c99c;
    text-decoration: none;
}


/****** FOOTER LINKS *******/

.footer-links ul {
    list-style-type: none;
}

footer {
    height: 20vh;
    background-color: #333;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-links {
    text-align: center;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
}

.footer-bullet {
    color: #fff;
    font-size: 16px;
    margin: 0 5px;
}

body footer div.footer-links a {
    color: white;
    text-decoration: none;
}
