{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard - Wildlife Transfer Parameter Database{% endblock %}

{% block content %}
    <h1>Dashboard of Tools</h1>
    <div class="dashboard-options">
        <div class="dashboard-option">
            <a href="{% url 'add_datacr' %}">Add new data</a>
        </div>
        <div class="dashboard-option">
            <a href="{% url 'view_summary_results' %}">View Summary Results</a>
        </div>
        <div class="dashboard-option">
            <a href="{% url 'view_editable_data_records' %}">Edit Data Records</a>
        </div>
        <div class="dashboard-option">
            <a href="{% url 'contact' %}">Suggest Improvements</a>
        </div>
        <div class="dashboard-option">
            <a href="{% url 'download_summaries' %}">Download Summary Tables</a>
        </div>
        <div class="dashboard-option">
            <a href="{% url 'all_reports' %}">View Reports & Lookup Tables</a>
        </div>
        <!--<div class="dashboard-option">
            <a href="{ url 'view_summary_results' }">Summary (Individual Wildlife/Habitat)</a>
        </div>-->
        <!--<div class="dashboard-option">
            <a href="{ url 'data' }">Assign Admin Privileges To Users</a>
        </div>-->
        <div class="dashboard-option">
            <a href="{% url 'view_all_data' %}">View All Data</a>
        </div>
    </div>
    <link rel="stylesheet" href="{% static '/css/dashboard.css' %}">
{% endblock %}