{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard - Wildlife Transfer Parameter Database{% endblock %}

{% block content %}
    <h1>Dashboard of Tools</h1>
    <div class="dashboard-options">
        <div class="dashboard-option">
            <a href="{% url 'add_datacr' %}">Add new data</a>
        </div>
        <div class="dashboard-option">
            <a href="{% url 'view_summary_results' %}">View Summary results</a>
        </div>
        <div class="dashboard-option">
            <a href="{% url 'data' %}">View/Edit data</a>
        </div>
        <div class="dashboard-option">
            <a href="{% url 'contact' %}">Suggest improvements</a>
        </div>
        <div class="dashboard-option">
            <a href="{% url 'download_summaries' %}">Download summary tables</a>
        </div>
        <div class="dashboard-option">
            <a href="{% url 'data' %}">View/Update Database Tables</a>
        </div>
        <div class="dashboard-option">
            <a href="{% url 'view_summary_results' %}">Summary (Individual wildlife/habitat)</a>
        </div>
        <div class="dashboard-option">
            <a href="{% url 'data' %}">Assign admin privileges to users</a>
        </div>
        <div class="dashboard-option">
            <a href="{% url 'view_all_data' %}">View all data</a>
        </div>
        <div class="dashboard-option">
            <a href="{% url 'all_reports' %}">View Reports</a>
        </div>
    </div>
    <link rel="stylesheet" href="{% static '/css/dashboard.css' %}">
{% endblock %}