form {
    max-width: 100%; /* Prevents the form from exceeding the width of its parent */
    overflow: hidden; /* Ensures no content spills out */
}

fieldset {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: gray;
    display: flex;
}

legend {
    color: #333;
    padding: 0 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
}

button, a {
    margin-top: 10px;
}


















section {
    /*background-color: #b0b6af;*/
    background-color: #b0bdae;
    padding: 10px 20px 10px 20px;
    margin: 10px 0;
    /*padding: 20px;*/
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/******************* REFERENCE *******************/

.reference {
    /*display: flex;
    flex-direction: column;*/
    /* align-items: center; Centering the content horizontally? */
}

.flex-container {
    display: flex;
    width: 100%;
}

.left, .right {
    width: 50%;
    display: flex;
    flex-direction: column; /* make the content stack vertically */
}

/* some margin between the labels and inputs/select */
.left label,
.right label,
.left input,
.right select,
.right input {
    margin-bottom: 10px;
}

div.entry, div.pub {
    margin: 5px;
    width: 100%;
}
div.translation {
    margin-top: 5px;
}


/* Publication Title Lable & Field */
div.pub {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.pub label {
    margin-right: 10px;
    white-space: nowrap; /* Prevent label from wrapping to the next line */
}

.pub select {
    flex: 1;
    /*width: auto;  Let the select element determine its width based on content */
    width: 100%;
    margin-left: 5px; /* Adjust margin to separate label and select */
}

/******************* SPECIES SECTION *******************/

.left-rim, .left-mid, .right-mid, .right-rim {
    width: 25%;
    display: flex;
    flex-direction: column; /* Updated to make the content stack vertically */
}

/* some margin between the labels and inputs/select */
.left label,
.right label,
.left input,
.right select,
.right input {
    margin-bottom: 10px;
}

div.entry select.limited {
    width: 100%;
    max-width: 120px;
}
